.text-center-xs{
	@media (max-width:360px){
	text-align:center !important;
}
}

.text-left-xs{
	@media (max-width:360px){
	text-align:left !important;
}
}

.text-right-xs{
	@media (max-width:360px){
	text-align:right !important;
}
}

.text-center-sm{
	@media  (min-width:361px) and (max-width:980px){
	text-align:center !important;
}
}

.text-left-sm{
	@media  (min-width:361px) and (max-width:980px){
	text-align:left !important;
}
}

.text-right-sm{
	@media  (min-width:361px) and (max-width:980px){
	text-align:right !important;
}
}



.text-center-md{
	@media  (min-width:981px) and (max-width:1280px){
	text-align:center !important;
}
}

.text-left-md{
	@media  (min-width:981px) and (max-width:1280px){
	text-align:left !important;
}
}

.text-right-md{
	@media  (min-width:981px) and (max-width:1280px){
	text-align:right !important;
}
}

.text-center-lg{
	@media  (min-width:1280px) and (max-width:1919px){
	text-align:center !important;
}
}

.text-left-lg{
	@media  (min-width:1280px) and (max-width:1919px){
	text-align:left !important;
}
}

.text-right-lg{
	@media  (min-width:1280px) and (max-width:1919px){
	text-align:right !important;
}
}

.text-center-xl{
	@media  (min-width:1920px){
	text-align:center !important;
}
}

.text-left-xl{
	@media  (min-width:1920px){
	text-align:left !important;
}
}

.text-right-xl{
	@media  (min-width:1920px){
	text-align:right !important;
}
}