.text-center{
	text-align:center !important;
}

.text-left{
	text-align:left !important;
}

.text-right{
	text-align:right !important;
}





.wsp-normal{
	white-space:normal !important;
}
.wsp-pre{
	white-space:pre !important;
}
.wsp-nowrap{
	white-space:nowrap !important;
}
.wsp-prewrap{
	white-space:pre-wrap !important;
}
.wsp-preline{
	white-space:pre-line !important;
}

.alg-top{
	vertical-align:top !important;
}
.alg-middle{
	vertical-align:middle !important;
}
.alg-bottom{
	vertical-align:bottom !important;
}
.alg-baseline{
	vertical-align:baseline !important;
}
