.b-none{
	border:none !important;
}
.b-s1{
	border:solid;
	border-width:1px;
}
.b-s2{
	border:solid;
	border-width:2px;
}
.b-s3{
	border:solid;
	border-width:3px;
}
.b-s4{
	border:solid;
	border-width:4px;
}

.b-1{
	border-width:1px !important;
}

.b-2{
	border-width:2px !important;
}
.b-3{
	border-width:3px !important;
}
.b-4{
	border-width:4px !important;
}
.b-5{
	border-width:5px !important;
}
.b-6{
	border-width:6px !important;
}

.b-7{
	border-width:7px !important;
}
.b-8{
	border-width:8px !important;
}
.b-9{
	border-width:9px !important;
}
.b-10{
	border-width:10px !important;
}

.b-s{
	border:solid;
}
.b-r{
	border-radius:12px !important;
}
.b-r0{
	border-radius:0px !important;
}
.b-r1{
	border-radius:1px !important;
}
.b-r2{
	border-radius:2px !important;
}
.b-r3{
	border-radius:3px !important;
}
.b-r4{
	border-radius:4px !important;
}

.b-r5{
	border-radius:5px !important;
}
.b-r6{
	border-radius:6px !important;
}
.b-r7{
	border-radius:7px !important;
}
.b-r8{
	border-radius:8px !important;
}
.b-r9{
	border-radius:9px !important;
}
.b-r10{
	border-radius:10px !important;
}
.b-r11{
	border-radius:11px !important;
}
.b-r12{
	border-radius:12px !important;
}
.b-r13{
	border-radius:13px !important;
}
.b-r14{
	border-radius:14px !important;
}
.b-r15{
	border-radius:15px !important;
}
.b-r16{
	border-radius:16px !important;
}
.b-r17{
	border-radius:17px !important;
}
.b-r18{
	border-radius:18px !important;
}
.b-r19{
	border-radius:19px !important;
}
.b-r20{
	border-radius:20px !important;
}

.b-a-none{
	&>a{
		border:none !important;
	}
}

.b-a-s1{
	&>a{
	border:solid;
	border-width:1px;
	}
}

.b-a-1{
	&>a{
	border-width:1px !important;
	}
}

.b-a-s{
	&>a{
		border:solid;
	}
}
.b-a-r{
	&>a{
		border-radius:12px !important;
	}
}

.b-a-r0{
	&>a{
		border-radius:0px !important;
	}
}

.b-a-r1{
	&>a{
		border-radius:1px !important;
	}
}
.b-a-r2{
	&>a{
		border-radius:2px !important;
	}
}
.b-a-r3{
	&>a{
		border-radius:3px !important;
	}
}
.b-a-r4{
	&>a{
		border-radius:4px !important;
	}
}
.b-a-r5{
	&>a{
		border-radius:5px !important;
	}
}
.b-a-r6{
	&>a{
		border-radius:6px !important;
	}
}
.b-a-r7{
	&>a{
		border-radius:7px !important;
	}
}
.b-a-r8{
	&>a{
		border-radius:8px !important;
	}
}
.b-a-r9{
	&>a{
		border-radius:9px !important;
	}
}
.b-a-r10{
	&>a{
		border-radius:10px !important;
	}
}
.b-a-r11{
	&>a{
		border-radius:11px !important;
	}
}
.b-a-r12{
	&>a{
		border-radius:12px !important;
	}
}
.b-a-r13{
	&>a{
		border-radius:13px !important;
	}
}

.b-r0{
	border-right-width:0px !important;
}
.b-t0{
	border-top-width:0px !important;
}
.b-l0{
	border-left-width:0px !important;
}
.b-b0{
	border-bottom-width:0px !important;
}
.b-r-white{
	border-right-color:white !important;
}
.b-r1-white{
	border-right-color:white !important;
	border-right-width:1px !important;
}
.b-r2-white{
	border-right-color:white !important;
	border-right-width:2px !important;
}
.b-r3-white{
	border-right-color:white !important;
	border-right-width:3px !important;
}
.b-r4-white{
	border-right-color:white !important;
	border-right-width:4px !important;
}
.b-r5-white{
	border-right-color:white !important;
	border-right-width:5px !important;
}
.b-r6-white{
	border-right-color:white !important;
	border-right-width:6px !important;
}
.b-r7-white{
	border-right-color:white !important;
	border-right-width:7px !important;
}
.b-r8-white{
	border-right-color:white !important;
	border-right-width:8px !important;
}
.b-r9-white{
	border-right-color:white !important;
	border-right-width:9px !important;
}
.b-r10-white{
	border-right-color:white !important;
	border-right-width:10px !important;
}

.b-l1-white{
	border-left-color:white !important;
	border-left-width:1px !important;
}
.b-l2-white{
	border-left-color:white !important;
	border-left-width:2px !important;
}
.b-l3-white{
	border-left-color:white !important;
	border-left-width:3px !important;
}
.b-l4-white{
	border-left-color:white !important;
	border-left-width:4px !important;
}
.b-l5-white{
	border-left-color:white !important;
	border-left-width:5px !important;
}
.b-l6-white{
	border-left-color:white !important;
	border-left-width:6px !important;
}
.b-l7-white{
	border-left-color:white !important;
	border-left-width:7px !important;
}
.b-l8-white{
	border-left-color:white !important;
	border-left-width:8px !important;
}
.b-l9-white{
	border-left-color:white !important;
	border-left-width:9px !important;
}
.b-l10-white{
	border-left-color:white !important;
	border-left-width:10px !important;
}

.b-t1-white{
	border-top-color:white !important;
	border-top-width:1px !important;
}
.b-t2-white{
	border-top-color:white !important;
	border-top-width:2px !important;
}
.b-t3-white{
	border-top-color:white !important;
	border-top-width:3px !important;
}
.b-t4-white{
	border-top-color:white !important;
	border-top-width:4px !important;
}
.b-t5-white{
	border-top-color:white !important;
	border-top-width:5px !important;
}
.b-t6-white{
	border-top-color:white !important;
	border-top-width:6px !important;
}
.b-t7-white{
	border-top-color:white !important;
	border-top-width:7px !important;
}
.b-t8-white{
	border-top-color:white !important;
	border-top-width:8px !important;
}
.b-t9-white{
	border-top-color:white !important;
	border-top-width:9px !important;
}
.b-t10-white{
	border-top-color:white !important;
	border-top-width:10px !important;
}
.b-b1-white{
	border-bottom-color:white !important;
	border-bottom-width:1px !important;
}
.b-b2-white{
	border-bottom-color:white !important;
	border-bottom-width:2px !important;
}
.b-b3-white{
	border-bottom-color:white !important;
	border-bottom-width:3px !important;
}
.b-b4-white{
	border-bottom-color:white !important;
	border-bottom-width:4px !important;
}
.b-b5-white{
	border-bottom-color:white !important;
	border-bottom-width:5px !important;
}
.b-b6-white{
	border-bottom-color:white !important;
	border-bottom-width:6px !important;
}
.b-b7-white{
	border-bottom-color:white !important;
	border-bottom-width:7px !important;
}
.b-b8-white{
	border-bottom-color:white !important;
	border-bottom-width:9px !important;
}
.b-b10-white{
	border-bottom-color:white !important;
	border-bottom-width:10px !important;
}

