.b-none{
	border:none !important;
}
.b-s1{
	border:solid;
	border-width:1px;
}
.b-s2{
	border:solid;
	border-width:2px;
}
.b-s3{
	border:solid;
	border-width:3px;
}
.b-s4{
	border:solid;
	border-width:4px;
}

.b-1{
	border-width:1px !important;
}

.b-2{
	border-width:2px !important;
}
.b-3{
	border-width:3px !important;
}
.b-4{
	border-width:4px !important;
}
.b-5{
	border-width:5px !important;
}
.b-6{
	border-width:6px !important;
}

.b-7{
	border-width:7px !important;
}
.b-8{
	border-width:8px !important;
}
.b-9{
	border-width:9px !important;
}
.b-10{
	border-width:10px !important;
}

.b-s{
	border:solid;
}
.b-r{
	border-radius:12px !important;
}
.b-r0{
	border-radius:0px !important;
}
.b-r1{
	border-radius:1px !important;
}
.b-r2{
	border-radius:2px !important;
}
.b-r3{
	border-radius:3px !important;
}
.b-r4{
	border-radius:4px !important;
}

.b-r5{
	border-radius:5px !important;
}
.b-r6{
	border-radius:6px !important;
}
.b-r7{
	border-radius:7px !important;
}
.b-r8{
	border-radius:8px !important;
}
.b-r9{
	border-radius:9px !important;
}
.b-r10{
	border-radius:10px !important;
}
.b-r11{
	border-radius:11px !important;
}
.b-r12{
	border-radius:12px !important;
}
.b-r13{
	border-radius:13px !important;
}
.b-r14{
	border-radius:14px !important;
}
.b-r15{
	border-radius:15px !important;
}
.b-r16{
	border-radius:16px !important;
}
.b-r17{
	border-radius:17px !important;
}
.b-r18{
	border-radius:18px !important;
}
.b-r19{
	border-radius:19px !important;
}
.b-r20{
	border-radius:20px !important;
}
