
//--------------------------------------------------
//COLORES

.black{
	color:black;
}
.blue{
	color:#3498db;
}
.bluelight{
	color:#1a92b1 !important;
}

.bluedark{
	color:#004368;
}
.pink{
	color:#d15096;
}
.gray{
	color:#d4d5d7;
}

.graylight{
	color:#f4f6f3;
}
.white{
	color:rgb(255,255,255);
}
.purple{
	color:#712989;
}
/* PALETA FLAT*/
//cianes
.turquoise{
	color:#00bd9b;
 }
.greensea{
	color:#00a186;
}
//amarillos
.sunflower{
	color:#ffc500;
}
.orange{
	color:#ff9d00;
}
//verdes
.emerald{
	color:#00cd6a;
 }
.nephritis{
	color:#00b05c;
}
//narajnas
.carrot{
	color:#ff800a;
}
.pumpkin{
	color:#f15300;
}
//azules
.peterriver{
	color:#0099de;
}

.belizehole{
	color:#0080bb;
}
//rojos
.alizarin{
	color:#ff4b3a;
}
.pomegrante{
	color:#e03626;
}
//morados
.amethyst{
	color:#ae59b9;
}
.wisteria{
	color:#a142b3;
}
//blancos
.cloud{
	color:#ebf0f1;
}
.silver{
	color:#bdc4c8;
}
//negros

.wetasphalt{
	color:#23485f;
}
.midnightblue{
	color:#1e3c50;
}
//grises
.concret{
	color:#8fa7a7;
}
.asbestos{
	color:#798d8e;
}

.greenprisma{
	color:#a7c001 !important;
}
/*---------------------*/

//cianes
.bg-turquoise{
	background-color:#00bd9b !important;
 }
.bg-greensea{
	background-color:#00a186 !important;
}
.bg-greenprisma{
	background-color:#a7c001 !important;
}
//amarillos
.bg-sunflower{
	background-color:#ffc500 !important;
}
.bg-orange{
	background-color:#ff9d00 !important;
}
//verdes
.bg-emerald{
	background-color:#00cd6a !important;
 }
.bg-nephritis{
	background-color:#00b05c !important;
}
//narajnas
.bg-carrot{
	background-color:#ff800a !important;
}
.bg-pumpkin{
	background-color:#f15300 !important;
}
//azules
.bg-peterriver{
	background-color:#0099de !important;
}

.bg-belizehole{
	background-color:#0080bb !important;
}
//rojos
.bg-alizarin{
	background-color:#ff4b3a !important;
}
.bg-pomegrante{
	background-color:#e03626 !important;
}
//morados
.bg-amethyst{
	background-color:#ae59b9 !important;
}
.bg-wisteria{
	background-color:#a142b3 !important;
}
//blancos
.bg-cloud{
	background-color:#ebf0f1 !important;
}
.bg-silver{
	background-color:#bdc4c8 !important;
}
//negros

.bg-wetasphalt{
	background-color:#23485f !important;
}
.bg-midnightblue{
	background-color:#1e3c50 !important;
}
//grises
.bg-concret{
	background-color:#8fa7a7 !important;
}
.bg-asbestos{
	background-color:#798d8e !important;
}
/*---------------------*/

.bg-transparent{
	background-color:transparent !important;
}
.bg-blue{
	background-color:#00426b !important;
}

.bg-bluelight{
	background-color:#1a92b1 !important;
}

.bg-bluedark{
	background-color:#004368 !important;
}
.bg-bluedarkprisma{
	background-color:#004468 !important;
}

.bg-gray{
	background-color:#d4d5d7 !important;
}
.bg-white{
	background-color:rgb(255,255,255) !important;
}
.bg-purple{
	background-color:#712989 !important;
}
.bg-focus{
	background-color:#eeeeee !important;
}
.bg-graylight{
	background-color:#f4f6f3 !important;
}

.bg-black{
	background-color:black !important;
}

.bg-pink{
	background-color:#d15096 !important;
}



//=====================================================================
//PALETA 200 Fruit of passion 
//Por:Ksantipa
//Link: http://www.colourlovers.com/palette/772970/200fruits_of_passion

//Amarillos
._200freshfruit{
	color:#b4ac01 !important;
}
.bg-200freshfruit{
	background-color:#b4ac01 !important;
}
.loversaremyfruits{
	color:#ecbb09 !important;
}
.bg-loversaremyfruits{
	background-color:#ecbb09 !important;
}

//naranjas
.passionforcolour{
	color:#e86e1b !important;
}
.bg-passionforcolour{
	color:#e86e1b !important;
}

//rosas
.fruitsofpassion{
	color:#d41e46 !important;
}
.bg-fruitsofpassion{
	background-color:#d41e46 !important;
}

//negros
.thankyouall{
	color:#1b1521 !important;
}

.bg-thankyouall{
	background-color:#1b1521 !important;
}

//=================================================
//Paleta ADreaminColor
//Por: madmod001
//Link: http://www.colourlovers.com/palette/871636/A_Dream_in_Color

//verdes
.adreamincolor{
	color:#1c676c !important;
}

.bg-adreamincolor{
	background-color:#1c676c !important;
}

.adreamingreen{
	color:#4f964a !important;
}

.bg-adreamingreen{
	background-color:#4f964a !important;
}

.adreaminlime{
	color:#88c426 !important;
}

.bg-adreaminlime{
	background-color:#88c426 !important;
}
.adreamingrellow{
	color:#BEF202 !important;
}
.bg-adreamingrellow{
	background-color:#BEF202 !important;
}
.dreambase{
	color:#EAFDE6 !important;
}
.bg-dreambase{
	color:#EAFDE6 !important;
}
//================================================================
//Paleta Ubuntu
//grises
.ubuntu_darkgrey{
	color:#5d5d5d !important;
}
.bg-ubuntu_darkgrey{
	background-color:#5d5d5d !important;
}
.ubuntu_lightgrey{
	color:#888888 !important;
}
.bg-ubuntu_lightgrey{
	background-color:#888888 !important;
}

.ubuntu_inkstone{
	color:#3b3b3b !important;
}

.bg-ubuntu_inkstone{
	background-color:#3b3b3b !important;
}
.ubuntu_slate{
	color:#5d5d5d !important;
}
.bg-ubuntu_slate{
	background-color:#5d5d5d !important;
}

.ubuntu_graphite{
	color:#666666 !important;
}

.bg-ubuntu_graphite{
	background-color:#666666 !important;
}

.ubuntu_ash{
	color:#888888 !important;
}

.bg-ubuntu_ash{
	background-color:#888888 !important;
}

.ubuntu_slik{
	color:#cdcdcd !important;
}
.bg-ubuntu_slik{
	background-color:#cdcdcd !important;
}

//blancos

.ubuntu_porcelain{
	color:#f7f7f7 !important;
 }

.bg-ubuntu_porcelain{
	background-color:#f7f7f7 !important;
 }
//incluye .white

//rojos
.ubuntu_red{
	color:#fd494a !important;
}
.bg-ubuntu_red{
	background-color:#fd494a !important;
}
.ubuntu_negativered{
	color:#ed3247 !important;
}
.bg-ubuntu_negativered{
	background-color:#ed3247 !important;
}

//naranjas
.ubuntu_orange{
	color:#de4815 !important;
}
.bg-ubuntu_orange{
	background-color:#de4815 !important;
}
.ubuntu_focusorange{
	color:#ea5421 !important;
}
.ubuntu_focusorange{
	background-color:#ea5421 !important;
}
//verdes
.ubuntu_green{
	color:#de4815 !important;
}
.bg-ubuntu_green{
	background-color:#de4815 !important;
}
.ubuntu_positivegreen{
	color:#3fb350 !important;
}
.bg-ubuntu_positivegreen{
	background-color:#3fb350 !important;
}
//amarillos

.ubuntu_yellow{
	color:#f89b0f !important;
}
.bg-ubuntu_yellow{
	background-color:#f89b0f !important;
}

//azules
.ubuntu_blue{
	color:#1ab6ef !important;
}
.bg-ubuntu_blue{
	background-color:#1ab6ef !important;
}
.ubuntu_activityblue{
	color:#19b6ed !important;
}
.bg-ubuntu_activityblue{
	background-color:#19b6ed !important;
}

//morados
.ubuntu_purple{
	color:#762572 !important;
}
.bg-ubuntu_purple{
	background-color:#762572 !important;
}
//negros
.ubuntu_jet{
	color:#111111 !important;
}
.bg-ubuntu_jet{
	background-color:#111111 !important;
}
