.ff{
	.titulo1{
	color:white;
	margin-left:5%;
	font-weight:bold;

	}
	.titulo2{
		font-weight:bold;
		font-weight:16px;
	}
	&>.btn{
		border-radius:12px;
		background-color: #0080bb;
		&:hover{
			border:solid;
			border-color:#ae59b9;
		}
	}
	&>.btn-1{
		border-radius:12px;
		background-color: #0080bb;
		&:hover{
			border:solid;
			border-color:#ae59b9;
		}	

	}
	&>.btn-2{
		border-radius:12px;
		background-color: #0080bb;
		&:hover{
			border:solid;
			border-color:#ae59b9;
		}	

	}
	&>.btn-4{
		border-radius:12px;
		background-color: #0080bb;
		&:hover{
			border:solid;
			border-color:#ae59b9;
		}	

	}
	&>.btn-5{
		border-radius:12px;
		background-color: #0080bb;
		&:hover{
			border:solid;
			border-color:#ae59b9;
		}	

	}
	&>.btn-6{
		border-radius:12px;
		background-color: #0080bb;
		&:hover{
			border:solid;
			border-color:#ae59b9;
		}	

	}
	&>.input{

	}
	&>.form{

	}
	&>.form-1{

	}
	&>.slider{

	}
	&>.slider-deslice{

	}
	&>.slider-cubo{

	}
	&>.slider-giro{

	}
	&>.hero{

	}
	&>.menu{

	}
	&>.nav{

	}
	&>.articulo{
		&>img{

		}
		&>article{

		}
	}
	&>header{

	}
	&>section{
		
	}
	&>footer{

	}

}