
.font-s5-xs{
	@media (max-width:360px){
	font-size:5px !important;
}
}
.font-s6-xs{
	@media (max-width:360px){
	font-size:6px !important;
}
}
.font-s7-xs{
	@media (max-width:360px){
	font-size:7px !important;
}
}
.font-s8-xs{
	@media (max-width:360px){
	font-size:8px !important;
}
}
.font-s9-xs{
	@media (max-width:360px){
	font-size:9px !important;
}
}
.font-s10-xs{
	@media (max-width:360px){
	font-size:10px !important;
}
}

.font-s11-xs{
	@media (max-width:360px){
	font-size:11px !important;
}
}

.font-s12-xs{
	@media (max-width:360px){
	font-size:12px !important;
}
}

.font-s13-xs{
	@media (max-width:360px){
	font-size:13px !important;
}
}

.font-s14-xs{
	@media (max-width:360px){
	font-size:14px !important;
}
}

.font-s15-xs{
	@media (max-width:360px){
	font-size:15px !important;
}
}

.font-s16-xs{
	@media (max-width:360px){
	font-size:16px !important;
}
}

.font-s17-xs{
	@media (max-width:360px){
	font-size:17px !important;
}
}

.font-s19-xs{
	@media (max-width:360px){
	font-size:19px !important;
}
}

.font-s20-xs{
	@media (max-width:360px){
	font-size:20px !important;
}
}
.font-s21-xs{
	@media (max-width:360px){
	font-size:21px !important;
}
}
.font-s22-xs{
	@media (max-width:360px){
	font-size:22px !important;
}
}
.font-s23-xs{
	@media (max-width:360px){
	font-size:23px !important;
}
}
.font-s24-xs{
	@media (max-width:360px){
	font-size:24px !important;
}
}
.font-s25-xs{
	@media (max-width:360px){
	font-size:25px !important;
}
}
.font-s26-xs{
	@media (max-width:360px){
	font-size:26px !important;
}
}
.font-s27-xs{
	@media (max-width:360px){
	font-size:27px !important;
}
}
.font-s28-xs{
	@media (max-width:360px){
	font-size:28px !important;
}
}
.font-s29-xs{
	@media (max-width:360px){
	font-size:29px !important;
}
}
.font-s30-xs{
	@media (max-width:360px){
	font-size:30px !important;
}
}
.font-s31-xs{
	@media (max-width:360px){
	font-size:31px !important;
}
}
.font-s32-xs{
	@media (max-width:360px){
	font-size:32px !important;
}
}
.font-s33-xs{
	@media (max-width:360px){
	font-size:33px !important;
}
}
.font-s34-xs{
	@media (max-width:360px){
	font-size:34px !important;
}
}
.font-s35-xs{
	@media (max-width:360px){
	font-size:35px !important;
}
}
.font-s36-xs{
	@media (max-width:360px){
	font-size:36px !important;
}
}
.font-s37-xs{
	@media (max-width:360px){
	font-size:37px !important;
}
}
.font-s38-xs{
	@media (max-width:360px){
	font-size:38px !important;
}
}
.font-s39-xs{
	@media (max-width:360px){
	font-size:39px !important;
}
}
.font-s40-xs{
	@media (max-width:360px){
	font-size:40px !important;
}
}
.font-s41-xs{
	@media (max-width:360px){
	font-size:41px !important;
}
}
.font-s42-xs{
	@media (max-width:360px){
	font-size:42px !important;
}
}
.font-s43-xs{
	@media (max-width:360px){
	font-size:43px !important;
}
}
.font-s44-xs{
	@media (max-width:360px){
	font-size:44px !important;
}
}
.font-s45-xs{
	@media (max-width:360px){
	font-size:45px !important;
}
}
.font-s46-xs{
	@media (max-width:360px){
	font-size:46px !important;
}
}
.font-s47-xs{
	@media (max-width:360px){
	font-size:47px !important;
}
}
.font-s48-xs{
	@media (max-width:360px){
	font-size:48px !important;
}
}
.font-s49-xs{
	@media (max-width:360px){
	font-size:49px !important;
}
}
.font-s50-xs{
	@media (max-width:360px){
	font-size:50px !important;
}
}
.font-s51-xs{
	@media (max-width:360px){
	font-size:51px !important;
}
}
.font-s52-xs{
	@media (max-width:360px){
	font-size:52px !important;
}
}
.font-s53-xs{
	@media (max-width:360px){
	font-size:53px !important;
}
}
.font-s54-xs{
	@media (max-width:360px){
	font-size:54px !important;
}
}
.font-s55-xs{
	@media (max-width:360px){
	font-size:55px !important;
}
}
.font-s56-xs{
	@media (max-width:360px){
	font-size:56px !important;
}
}
.font-s57-xs{
	@media (max-width:360px){
	font-size:57px !important;
}
}
.font-s58-xs{
	@media (max-width:360px){
	font-size:58px !important;
}
}
.font-s59-xs{
	@media (max-width:360px){
	font-size:59px !important;
}
}
.font-s60-xs{
	@media (max-width:360px){
	font-size:60px !important;
}
}
.font-s61-xs{
	@media (max-width:360px){
	font-size:61px !important;
}
}
.font-s62-xs{
	@media (max-width:360px){
	font-size:62px !important;
}
}
.font-s63-xs{
	@media (max-width:360px){
	font-size:63px !important;
}
}
.font-s64-xs{
	@media (max-width:360px){
	font-size:64px !important;
}
}
.font-s65-xs{
	@media (max-width:360px){
	font-size:65px !important;
}
}
.font-s66-xs{
	@media (max-width:360px){
	font-size:66px !important;
}
}
.font-s67-xs{
	@media (max-width:360px){
	font-size:67px !important;
}
}
.font-s68-xs{
	@media (max-width:360px){
	font-size:68px !important;
}
}
.font-s69-xs{
	@media (max-width:360px){
	font-size:69px !important;
}
}
.font-s70-xs{
	@media (max-width:360px){
	font-size:70px !important;
}
}
.font-s71-xs{
	@media (max-width:360px){
	font-size:71px !important;
}
}
.font-s72-xs{
	@media (max-width:360px){
	font-size:72px !important;
}
}
.font-s73-xs{
	@media (max-width:360px){
	font-size:73px !important;
}
}
.font-s74-xs{
	@media (max-width:360px){
	font-size:74px !important;
}
}
.font-s75-xs{
	@media (max-width:360px){
	font-size:75px !important;
}
}
.font-s76-xs{
	@media (max-width:360px){
	font-size:76px !important;
}
}
.font-s77-xs{
	@media (max-width:360px){
	font-size:77px !important;
}
}
.font-s78-xs{
	@media (max-width:360px){
	font-size:78px !important;
}
}
.font-s79-xs{
	@media (max-width:360px){
	font-size:79px !important;
}
}
.font-s80-xs{
	@media (max-width:360px){
	font-size:80px !important;
}
}
.font-s81-xs{
	@media (max-width:360px){
	font-size:81px !important;
}
}
.font-s82-xs{
	@media (max-width:360px){
	font-size:82px !important;
}
}
.font-s83-xs{
	@media (max-width:360px){
	font-size:83px !important;
}
}
.font-s84-xs{
	@media (max-width:360px){
	font-size:84px !important;
}
}
.font-s85-xs{
	@media (max-width:360px){
	font-size:85px !important;
}
}
.font-s86-xs{
	@media (max-width:360px){
	font-size:86px !important;
}
}
.font-s87-xs{
	@media (max-width:360px){
	font-size:87px !important;
}
}
.font-s88-xs{
	@media (max-width:360px){
	font-size:88px !important;
}
}
.font-s89-xs{
	@media (max-width:360px){
	font-size:89px !important;
}
}
.font-s90-xs{
	@media (max-width:360px){
	font-size:90px !important;
}
}
.font-s91-xs{
	@media (max-width:360px){
	font-size:91px !important;
}
}
.font-s92-xs{
	@media (max-width:360px){
	font-size:92px !important;
}
}
.font-s93-xs{
	@media (max-width:360px){
	font-size:93px !important;
}
}
.font-s94-xs{
	@media (max-width:360px){
	font-size:94px !important;
}
}
.font-s95-xs{
	@media (max-width:360px){
	font-size:95px !important;
}
}
.font-s96-xs{
	@media (max-width:360px){
	font-size:96px !important;
}
}
.font-s97-xs{
	@media (max-width:360px){
	font-size:97px !important;
}
}
.font-s98-xs{
	@media (max-width:360px){
	font-size:98px !important;
}
}
.font-s99-xs{
	@media (max-width:360px){
	font-size:99px !important;
}
}
.font-s100-xs{
	@media (max-width:360px){
	font-size:100px !important;
}
}