
.font-s5{
	font-size:5px !important;
}
.font-s6{
	font-size:6px !important;
}
.font-s7{
	font-size:7px !important;
}
.font-s8{
	font-size:8px !important;
}
.font-s9{
	font-size:9px !important;
}
.font-s10{
	font-size:10px !important;
}

.font-s11{
	font-size:11px !important;
}

.font-s12{
	font-size:12px !important;
}

.font-s13{
	font-size:13px !important;
}

.font-s14{
	font-size:14px !important;
}

.font-s15{
	font-size:15px !important;
}

.font-s16{
	font-size:16px !important;
}

.font-s17{
	font-size:17px !important;
}

.font-s19{
	font-size:19px !important;
}

.font-s20{
	font-size:20px !important;
}