@font-face{
	font-family:"gothamMedium";
	font-weight:normal;
	src:url("../fonts/gotham/GothamRoundedMedium.ttf");
}

.font-gothamMedium{
	font-family:"gothamMedium" !important;
}

.font-ubuntu{
	font-family:"ubuntu" !important;
}