.marg-l1p{
	margin-left:1% !important;
	text-align:left !important;
}
.marg-l2p{
	margin-left:2% !important;
	text-align:left !important;
}
.marg-l3p{
	margin-left:3% !important;
	text-align:left !important;
}
.marg-l5p{
	margin-left:5% !important;
	text-align:left !important;
}
.marg-l6p{
	margin-left:6% !important;
	text-align:left !important;
	
}
.marg-l7p{
	margin-left:7% !important;
	text-align:left !important;
	
}
.marg-l8p{
	margin-left:8% !important;
	text-align:left !important;
	
}
.marg-l9p{
	margin-left:9% !important;
	text-align:left !important;
	
}

.marg-l10p{
	margin-left:10% !important;
	text-align:left !important;
}
.marg-l11p{
	margin-left:11% !important;
	text-align:left !important;
}
.marg-l12p{
	margin-left:12% !important;
	text-align:left !important;
}
.marg-l13p{
	margin-left:13% !important;
	text-align:left !important;
}
.marg-l14p{
	margin-left:14% !important;
	text-align:left !important;
}
.marg-l15p{
	margin-left:15% !important;
	text-align:left !important;
}
.marg-l16p{
	margin-left:16% !important;
	text-align:left !important;
}
.marg-l17p{
	margin-left:17% !important;
	text-align:left !important;
}
.marg-l18p{
	margin-left:18% !important;
	text-align:left !important;
}
.marg-l19p{
	margin-left:19% !important;
	text-align:left !important;
}
.marg-l20p{
	margin-left:20% !important;
	text-align:left !important;
}




.marg-l21p{
	margin-left:21% !important;
	text-align:left !important;
}
.marg-l22p{
	margin-left:22% !important;
	text-align:left !important;
}
.marg-l23p{
	margin-left:23% !important;
	text-align:left !important;
}
.marg-l24p{
	margin-left:24% !important;
	text-align:left !important;
}
.marg-l25p{
	margin-left:25% !important;
	text-align:left !important;
}
.marg-l26p{
	margin-left:26% !important;
	text-align:left !important;
}
.marg-l27p{
	margin-left:27% !important;
	text-align:left !important;
}
.marg-l28p{
	margin-left:28% !important;
	text-align:left !important;
}
.marg-l29p{
	margin-left:29% !important;
	text-align:left !important;
}

.marg-l30p{
	margin-left:30% !important;
	text-align:left !important;
}
.marg-l31p{
	margin-left:31% !important;
	text-align:left !important;
}
.marg-l32p{
	margin-left:32% !important;
	text-align:left !important;
}
.marg-l33p{
	margin-left:33% !important;
	text-align:left !important;
}
.marg-l34p{
	margin-left:34% !important;
	text-align:left !important;
}
.marg-l35p{
	margin-left:35% !important;
	text-align:left !important;
}
.marg-l36p{
	margin-left:36% !important;
	text-align:left !important;
}
.marg-l37p{
	margin-left:37% !important;
	text-align:left !important;
}
.marg-l38p{
	margin-left:38% !important;
	text-align:left !important;
}
.marg-l39p{
	margin-left:39% !important;
	text-align:left !important;
}
.marg-l40p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l41p{
	margin-left:40% !important;
	text-align:left !important;
}

.marg-l42p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l43p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l44p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l45p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l46p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l47p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l48p{
	margin-left:40% !important;
	text-align:left !important;
}
.marg-l49p{
	margin-left:40% !important;
	text-align:left !important;
}

.marg-l50p{
	margin-left:50% !important;
	text-align:left !important;
}

.marg-l51p{
	margin-left:51% !important;
	text-align:left !important;
}
.marg-l52p{
	margin-left:52% !important;
	text-align:left !important;
}
.marg-l53p{
	margin-left:53% !important;
	text-align:left !important;
}
.marg-l54p{
	margin-left:54% !important;
	text-align:left !important;
}
.marg-l55p{
	margin-left:55% !important;
	text-align:left !important;
}
.marg-l56p{
	margin-left:56% !important;
	text-align:left !important;
}
.marg-l57p{
	margin-left:57% !important;
	text-align:left !important;
}
.marg-l58p{
	margin-left:58% !important;
	text-align:left !important;
}
.marg-l59p{
	margin-left:59% !important;
	text-align:left !important;
}


.marg-l60p{
	margin-left:60% !important;
	text-align:left !important;
}
.marg-l61p{
	margin-left:61% !important;
	text-align:left !important;
}
.marg-l62p{
	margin-left:62% !important;
	text-align:left !important;
}
.marg-l63p{
	margin-left:63% !important;
	text-align:left !important;
}
.marg-l64p{
	margin-left:64% !important;
	text-align:left !important;
}
.marg-l65p{
	margin-left:65% !important;
	text-align:left !important;
}
.marg-l66p{
	margin-left:66% !important;
	text-align:left !important;
}
.marg-l67p{
	margin-left:67% !important;
	text-align:left !important;
}
.marg-l68p{
	margin-left:68% !important;
	text-align:left !important;
}

.marg-l69p{
	margin-left:69% !important;
	text-align:left !important;
}

.marg-l70p{
	margin-left:70% !important;
	text-align:left !important;
}

.marg-l70p-xs{
	@media (min-width:320px){
	margin-left:70% !important;
	text-align:left !important;	
	}
}
.marg-l71p{
	margin-left:71% !important;
	text-align:left !important;
}

.marg-l72p{
	margin-left:72% !important;
	text-align:left !important;
}
.marg-l73p{
	margin-left:73% !important;
	text-align:left !important;
}
.marg-l74p{
	margin-left:74% !important;
	text-align:left !important;
}
.marg-l75p{
	margin-left:75% !important;
	text-align:left !important;
}
.marg-l76p{
	margin-left:76% !important;
	text-align:left !important;
}
.marg-l77p{
	margin-left:78% !important;
	text-align:left !important;
}
.marg-l78p{
	margin-left:78% !important;
	text-align:left !important;
}
.marg-l79p{
	margin-left:79% !important;
	text-align:left !important;
}




.marg-l80p{
	margin-left:80% !important;
	text-align:left !important;
}

.marg-l81p{
	margin-left:81% !important;
	text-align:left !important;
}
.marg-l82p{
	margin-left:82% !important;
	text-align:left !important;
}
.marg-l83p{
	margin-left:83% !important;
	text-align:left !important;
}
.marg-l84p{
	margin-left:84% !important;
	text-align:left !important;
}
.marg-l85p{
	margin-left:85% !important;
	text-align:left !important;
}
.marg-l86p{
	margin-left:86% !important;
	text-align:left !important;
}
.marg-l87p{
	margin-left:87% !important;
	text-align:left !important;
}
.marg-l88p{
	margin-left:88% !important;
	text-align:left !important;
}
.marg-l89p{
	margin-left:89% !important;
	text-align:left !important;
}


.marg-l90p{
	margin-left:90% !important;
	text-align:left !important;
}
.marg-l91p{
	margin-left:91% !important;
	text-align:left !important;
}
.marg-l92p{
	margin-left:92% !important;
	text-align:left !important;
}
.marg-l93p{
	margin-left:93% !important;
	text-align:left !important;
}
.marg-l94p{
	margin-left:94% !important;
	text-align:left !important;
}
.marg-l95p{
	margin-left:95% !important;
	text-align:left !important;
}
.marg-l96p{
	margin-left:96% !important;
	text-align:left !important;
}
.marg-l97p{
	margin-left:97% !important;
	text-align:left !important;
}
.marg-l98p{
	margin-left:98% !important;
	text-align:left !important;
}
.marg-l99p{
	margin-left:99% !important;
	text-align:left !important;
}

.marg-l100p{
	margin-left:100% !important;
	text-align:left !important;
}
.marg-r1p{
	margin-right:1% !important;
	
}
.marg-r2p{
	margin-right:2% !important;
	
}
.marg-r3p{
	margin-right:3% !important;
	
}
.marg-r5p{
	margin-right:5% !important;
	
}
.marg-r6p{
	margin-right:6% !important;
	
	
}
.marg-r7p{
	margin-right:7% !important;
	
	
}
.marg-r8p{
	margin-right:8% !important;
	
	
}
.marg-r9p{
	margin-right:9% !important;
	
	
}

.marg-r10p{
	margin-right:10% !important;
	
}
.marg-r20p{
	margin-right:20% !important;
	
}
.marg-r30p{
	margin-right:30% !important;
	
}
.marg-r40p{
	margin-right:40% !important;
	
}
.marg-l50p{
	margin-left:50% !important;
	
}

