.marg-auto{
	margin:auto !important;
}
.marg-05{
	margin:5px !important;
}
.marg-1{
	margin:10px !important;
}

.marg-2{
	margin:20px !important;
}
.marg-3{
	margin:30px !important;
}
.marg-4{
	margin:40px !important;
}
.marg-5{
	margin:50px !important;
}
.marg-6{
	margin:60px !important;
}

.marg-7{
	margin:70px !important;
}
.marg-8{
	margin:80px !important;
}
.marg-9{
	margin:90px !important;
}
.marg-10{
	margin:100px !important;
}

.marg-t05{
	margin-top:5px !important;
}

.marg-t1{
	margin-top:10px !important;
}

.marg-t2{
	margin-top:20px !important;
}

.marg-t3{
	margin-top:30px !important;
}

.marg-t4{
	margin-top:40px !important;
}

.marg-t5{
	margin-top:50px !important;
}

.marg-t6{
	margin-top:60px !important;
}
.marg-t7{
	margin-top:70px !important;
}

.marg-t8{
	margin-top:80px !important;
}

.marg-t9{
	margin-top:90px !important;
}

.marg-t10{
	margin-top:100px !important;
}

.marg-t20{
	margin-top:200px !important;
}

.marg-t30{
	margin-top:300px !important;
}

.marg-b1{
	margin-bottom:10px !important;
}

.marg-b2{
	margin-bottom:20px !important;
}

.marg-b3{
	margin-bottom:30px !important;
}
.marg-b4{
	margin-bottom:40px !important;
}

.marg-b5{
	margin-bottom:50px !important;
}

.marg-b6{
	margin-bottom:60px !important;
}
.marg-b7{
	margin-bottom:70px !important;
}

.marg-b8{
	margin-bottom:80px !important;
}

.marg-b9{
	margin-bottom:90px !important;
}


.marg-l0{
	margin-left:0px !important;
}

.marg-l05{
	margin-left:5px !important;
}
.marg-l1{
	margin-left:10px !important;
}

.marg-l15{
	margin-left:15px !important;
}
.marg-l1_5{
	margin-left:1_5px !important;
}
.marg-l2{
	margin-left:20px !important;
}
.marg-l2_1{
	margin-left:21px !important;
}
.marg-l2_2{
	margin-left:22px !important;
}
.marg-l2_3{
	margin-left:23px !important;
}
.marg-l2_4{
	margin-left:24px !important;
}
.marg-l2_5{
	margin-left:25px !important;
}
.marg-l2_6{
	margin-left:26px !important;
}
.marg-l2_7{
	margin-left:27px !important;
}
.marg-l2_8{
	margin-left:28px !important;
}
.marg-l2_9{
	margin-left:29px !important;
}
.marg-l3{
	margin-left:30px !important;
}
.marg-l4{
	margin-left:40px !important;
}
.marg-l5{
	margin-left:50px !important;
}
.marg-l6{
	margin-left:60px !important;
}
.marg-l7{
	margin-left:70px !important;
}
.marg-l8{
	margin-left:80px !important;
}
.marg-l9{
	margin-left:90px !important;
}
.marg-l10{
	margin-left:100px !important;
}

.marg-l11{
	margin-left:110px !important;
}
.marg-l12{
	margin-left:120px !important;
}
.marg-l13{
	margin-left:130px !important;
}
.marg-l14{
	margin-left:140px !important;
}
.marg-l15{
	margin-left:150px !important;
}
.marg-l16{
	margin-left:160px !important;
}
.marg-l17{
	margin-left:170px !important;
}
.marg-l18{
	margin-left:180px !important;
}
.marg-l19{
	margin-left:190px !important;
}
.marg-l20{
	margin-left:200px !important;
}
.marg-l21{
	margin-left:210px !important;
}
.marg-l22{
	margin-left:220px !important;
}
.marg-l23{
	margin-left:230px !important;
}
.marg-l24{
	margin-left:240px !important;
}
.marg-l25{
	margin-left:250px !important;
}
.marg-l26{
	margin-left:260px !important;
}
.marg-l27{
	margin-left:270px !important;
}
.marg-l28{
	margin-left:280px !important;
}
.marg-l29{
	margin-left:290px !important;
}
.marg-l30{
	margin-left:300px !important;
}
.marg-l31{
	margin-left:310px !important;
}
.marg-l32{
	margin-left:320px !important;
}
.marg-l33{
	margin-left:330px !important;
}
.marg-l34{
	margin-left:340px !important;
}
.marg-l35{
	margin-left:350px !important;
}
.marg-l36{
	margin-left:360px !important;
}
.marg-l37{
	margin-left:370px !important;
}
.marg-l38{
	margin-left:380px !important;
}
.marg-l39{
	margin-left:390px !important;
}
.marg-l40{
	margin-left:400px !important;
}
.marg-l41{
	margin-left:410px !important;
}
.marg-l42{
	margin-left:420px !important;
}
.marg-l43{
	margin-left:430px !important;
}
.marg-l44{
	margin-left:440px !important;
}
.marg-l45{
	margin-left:450px !important;
}
.marg-l46{
	margin-left:460px !important;
}
.marg-l47{
	margin-left:470px !important;
}
.marg-l48{
	margin-left:480px !important;
}
.marg-l49{
	margin-left:490px !important;
}
.marg-l50{
	margin-left:500px !important;
}
.marg-l51{
	margin-left:510px !important;
}
.marg-l52{
	margin-left:520px !important;
}
.marg-l53{
	margin-left:530px !important;
}
.marg-l54{
	margin-left:540px !important;
}
.marg-l55{
	margin-left:550px !important;
}
.marg-l56{
	margin-left:560px !important;
}
.marg-l57{
	margin-left:570px !important;
}
.marg-l58{
	margin-left:580px !important;
}
.marg-l59{
	margin-left:590px !important;
}
.marg-l60{
	margin-left:600px !important;
}
.marg-l61{
	margin-left:610px !important;
}
.marg-l62{
	margin-left:620px !important;
}
.marg-l63{
	margin-left:630px !important;
}
.marg-l64{
	margin-left:640px !important;
}
.marg-l65{
	margin-left:650px !important;
}
.marg-l66{
	margin-left:660px !important;
}
.marg-l67{
	margin-left:670px !important;
}
.marg-l68{
	margin-left:680px !important;
}
.marg-l69{
	margin-left:690px !important;
}
.marg-l70{
	margin-left:700px !important;
}
.marg-l71{
	margin-left:710px !important;
}
.marg-l72{
	margin-left:720px !important;
}
.marg-l73{
	margin-left:730px !important;
}
.marg-l74{
	margin-left:740px !important;
}
.marg-l75{
	margin-left:750px !important;
}
.marg-l76{
	margin-left:760px !important;
}
.marg-l77{
	margin-left:770px !important;
}
.marg-l78{
	margin-left:780px !important;
}
.marg-l79{
	margin-left:790px !important;
}
.marg-l80{
	margin-left:800px !important;
}
.marg-l81{
	margin-left:810px !important;
}
.marg-l82{
	margin-left:820px !important;
}
.marg-l83{
	margin-left:830px !important;
}
.marg-l84{
	margin-left:840px !important;
}
.marg-l85{
	margin-left:850px !important;
}
.marg-l86{
	margin-left:860px !important;
}
.marg-l87{
	margin-left:870px !important;
}
.marg-l88{
	margin-left:880px !important;
}
.marg-l89{
	margin-left:890px !important;
}
.marg-l90{
	margin-left:900px !important;
}
.marg-l91{
	margin-left:910px !important;
}
.marg-l92{
	margin-left:920px !important;
}
.marg-l93{
	margin-left:930px !important;
}
.marg-l94{
	margin-left:940px !important;
}
.marg-l95{
	margin-left:950px !important;
}
.marg-l96{
	margin-left:960px !important;
}
.marg-l97{
	margin-left:970px !important;
}
.marg-l98{
	margin-left:980px !important;
}
.marg-l99{
	margin-left:990px !important;
}
.marg-t0{
	margin-top:0px !important;
}


.marg-0auto{
	margin:0 auto !important;
}