

.marg-0-a{
	a{
		margin:0px !important;
	}
}
.marg-01-a{
	a{
		margin:1px !important;
	}
}
.marg-02-a{
	a{
		margin:2px !important;
	}
}
.marg-03-a{
	a{
		margin:3px !important;
	}
}
.marg-04-a{
	a{
		margin:4px !important;
	}
}
.marg-05-a{
	a{
		margin:5px !important;
	}
}
.marg-06-a{
	a{
		margin:6px !important;
	}
}
.marg-07-a{
	a{
		margin:7px !important;
	}
}
.marg-08-a{
	a{
		margin:8px !important;
	}
}

.marg-09-a{
	a{
		margin:9px !important;
	}
}

.marg-1-a{
	a{
		margin:10px !important;
	}
}
.marg-2-a{
	a{
		margin:20px !important;
	}
}
.marg-3-a{
	a{
		margin:30px !important;
	}
}
.marg-4-a{
	a{
		margin:40px !important;
	}
}
.marg-5-a{
	a{
		margin:50px !important;
	}
}
.marg-6-a{
	a{
		margin:60px !important;
	}
}
.marg-7-a{
	a{
		margin:70px !important;
	}
}
.marg-8-a{
	a{
		margin:80px !important;
	}
}
.marg-9-a{
	a{
		margin:90px !important;
	}
}
.marg-10-a{
	a{
		margin:100px !important;
	}
}
