.marg-l1-xs{
	@media (max-width:360px){
		margin-left:10px !important;
	}
}

.marg-l2-xs{
	@media (max-width:360px){
		margin-left:20px !important;
	}
}
.marg-l3-xs{
	@media (max-width:360px){
		margin-left:30px !important;
	}
}
.marg-l4-xs{
	@media (max-width:360px){
		margin-left:40px !important;
	}
}
.marg-l5-xs{
	@media (max-width:360px){
		margin-left:50px !important;
	}
}
.marg-l6-xs{
	@media (max-width:360px){
		margin-left:60px !important;
	}
}
.marg-l7-xs{
	@media (max-width:360px){
		margin-left:70px !important;
	}
}
.marg-l8-xs{
	@media (max-width:360px){
		margin-left:80px !important;
	}
}
.marg-l9-xs{
	@media (max-width:360px){
		margin-left:90px !important;
	}
}
.marg-l10-xs{
	@media (max-width:360px){
		margin-left:100px !important;
	}
}
.marg-l11-xs{
	@media (max-width:360px){
		margin-left:110px !important;
	}
}
.marg-l12-xs{
	@media (max-width:360px){
		margin-left:120px !important;
	}
}
.marg-l13-xs{
	@media (max-width:360px){
		margin-left:130px !important;
	}
}
.marg-l14-xs{
	@media (max-width:360px){
		margin-left:140px !important;
	}
}
.marg-l15-xs{
	@media (max-width:360px){
		margin-left:150px !important;
	}
}
.marg-l16-xs{
	@media (max-width:360px){
		margin-left:160px !important;
	}
}
.marg-l17-xs{
	@media (max-width:360px){
		margin-left:170px !important;
	}
}
.marg-l18-xs{
	@media (max-width:360px){
		margin-left:180px !important;
	}
}
.marg-l19-xs{
	@media (max-width:360px){
		margin-left:190px !important;
	}
}
.marg-l20-xs{
	@media (max-width:360px){
		margin-left:200px !important;
	}
}

.marg-l21-xs{
	@media (max-width:360px){
		margin-left:210px !important;
	}
}
.marg-l22-xs{
	@media (max-width:360px){
		margin-left:220px !important;
	}
}
.marg-l23-xs{
	@media (max-width:360px){
		margin-left:230px !important;
	}
}
.marg-l24-xs{
	@media (max-width:360px){
		margin-left:240px !important;
	}
}
.marg-l25-xs{
	@media (max-width:360px){
		margin-left:250px !important;
	}
}
.marg-l26-xs{
	@media (max-width:360px){
		margin-left:260px !important;
	}
}
.marg-l27-xs{
	@media (max-width:360px){
		margin-left:270px !important;
	}
}
.marg-l28-xs{
	@media (max-width:360px){
		margin-left:280px !important;
	}
}
.marg-l29-xs{
	@media (max-width:360px){
		margin-left:290px !important;
	}
}

.marg-l30-xs{
	@media (max-width:360px){
		margin-left:300px !important;
	}
}

.marg-l1-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:10px !important;
	}
}

.marg-l2-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:20px !important;
	}
}
.marg-l3-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:30px !important;
	}
}
.marg-l4-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:40px !important;
	}
}
.marg-l5-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:50px !important;
	}
}
.marg-l6-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:60px !important;
	}
}
.marg-l7-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:70px !important;
	}
}
.marg-l8-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:80px !important;
	}
}
.marg-l9-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:90px !important;
	}
}
.marg-l10-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:100px !important;
	}
}
.marg-l11-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:110px !important;
	}
}
.marg-l12-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:120px !important;
	}
}
.marg-l13-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:130px !important;
	}
}
.marg-l14-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:140px !important;
	}
}
.marg-l15-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:150px !important;
	}
}
.marg-l16-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:160px !important;
	}
}
.marg-l17-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:170px !important;
	}
}
.marg-l18-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:180px !important;
	}
}
.marg-l19-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:190px !important;
	}
}
.marg-l20-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:200px !important;
	}
}
.marg-l21-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:210px !important;
	}
}

.marg-l22-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:220px !important;
	}
}

.marg-l23-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:230px !important;
	}
}

.marg-l24-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:240px !important;
	}
}

.marg-l25-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:250px !important;
	}
}

.marg-l26-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:260px !important;
	}
}

.marg-l27-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:270px !important;
	}
}

.marg-l28-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:280px !important;
	}
}

.marg-l29-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:290px !important;
	}
}
.marg-l30-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:300px !important;
	}
}

.marg-l31-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:310px !important;
	}
}

.marg-l32-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:320px !important;
	}
}

.marg-l33-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:330px !important;
	}
}

.marg-l34-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:340px !important;
	}
}

.marg-l35-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:350px !important;
	}
}

.marg-l36-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:360px !important;
	}
}

.marg-l37-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:370px !important;
	}
}

.marg-l38-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:380px !important;
	}
}

.marg-l39-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:390px !important;
	}
}

.marg-l40-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:400px !important;
	}
}
.marg-l41-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:410px !important;
	}
}
.marg-l42-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:420px !important;
	}
}
.marg-l43-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:430px !important;
	}
}
.marg-l44-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:440px !important;
	}
}
.marg-l45-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:450px !important;
	}
}
.marg-l46-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:460px !important;
	}
}
.marg-l47-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:470px !important;
	}
}
.marg-l48-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:480px !important;
	}
}
.marg-l49-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:490px !important;
	}
}

.marg-l50-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:500px !important;
	}
}

.marg-l51-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:510px !important;
	}
}
.marg-l52-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:520px !important;
	}
}
.marg-l53-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:530px !important;
	}
}
.marg-l54-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:540px !important;
	}
}
.marg-l55-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:550px !important;
	}
}
.marg-l56-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:560px !important;
	}
}
.marg-l57-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:570px !important;
	}
}
.marg-l58-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:580px !important;
	}
}
.marg-l59-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:590px !important;
	}
}

.marg-l60-sm{
	@media  (min-width:361px) and (max-width:980px){
		margin-left:600px !important;
	}
}








.marg-l1-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:10px !important;
	}
}

.marg-l2-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:20px !important;
	}
}
.marg-l3-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:30px !important;
	}
}
.marg-l4-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:40px !important;
	}
}
.marg-l5-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:50px !important;
	}
}
.marg-l6-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:60px !important;
	}
}
.marg-l7-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:70px !important;
	}
}
.marg-l8-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:80px !important;
	}
}
.marg-l9-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:90px !important;
	}
}
.marg-l10-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:100px !important;
	}
}
.marg-l11-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:110px !important;
	}
}
.marg-l12-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:120px !important;
	}
}
.marg-l13-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:130px !important;
	}
}
.marg-l14-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:140px !important;
	}
}
.marg-l15-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:150px !important;
	}
}
.marg-l16-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:160px !important;
	}
}
.marg-l17-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:170px !important;
	}
}
.marg-l18-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:180px !important;
	}
}
.marg-l19-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:190px !important;
	}
}
.marg-l20-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:200px !important;
	}
}
.marg-l21-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:210px !important;
	}
}
.marg-l22-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:220px !important;
	}
}
.marg-l23-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:230px !important;
	}
}
.marg-l24-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:240px !important;
	}
}
.marg-l25-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:250px !important;
	}
}
.marg-l26-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:260px !important;
	}
}
.marg-l27-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:270px !important;
	}
}
.marg-l28-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:280px !important;
	}
}

.marg-l29-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:290px !important;
	}
}

.marg-l30-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:300px !important;
	}
}
.marg-l31-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:310px !important;
	}
}
.marg-l32-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:320px !important;
	}
}
.marg-l33-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:330px !important;
	}
}
.marg-l34-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:340px !important;
	}
}
.marg-l35-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:350px !important;
	}
}
.marg-l36-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:360px !important;
	}
}
.marg-l37-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:370px !important;
	}
}
.marg-l38-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:380px !important;
	}
}
.marg-l39-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:390px !important;
	}
}
.marg-l40-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:400px !important;
	}
}

.marg-l41-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:410px !important;
	}
}
.marg-l42-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:420px !important;
	}
}
.marg-l43-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:430px !important;
	}
}
.marg-l44-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:440px !important;
	}
}
.marg-l45-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:450px !important;
	}
}
.marg-l46-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:460px !important;
	}
}
.marg-l47-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:470px !important;
	}
}
.marg-l48-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:480px !important;
	}
}
.marg-l49-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:490px !important;
	}
}

.marg-l50-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:500px !important;
	}
}

.marg-l51-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:510px !important;
	}
}

.marg-l52-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:520px !important;
	}
}
.marg-l53-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:530px !important;
	}
}
.marg-l54-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:540px !important;
	}
}
.marg-l55-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:550px !important;
	}
}
.marg-l56-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:560px !important;
	}
}
.marg-l57-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:570px !important;
	}
}
.marg-l58-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:580px !important;
	}
}
.marg-l59-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:590px !important;
	}
}


.marg-l60-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:600px !important;
	}
}

.marg-l61-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:610px !important;
	}
}
.marg-l62-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:620px !important;
	}
}
.marg-l63-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:630px !important;
	}
}
.marg-l64-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:640px !important;
	}
}
.marg-l65-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:650px !important;
	}
}
.marg-l66-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:660px !important;
	}
}
.marg-l67-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:670px !important;
	}
}
.marg-l68-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:680px !important;
	}
}
.marg-l69-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:690px !important;
	}
}
.marg-l70-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:700px !important;
	}
}
.marg-l71-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:710px !important;
	}
}
.marg-l72-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:720px !important;
	}
}
.marg-l73-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:730px !important;
	}
}
.marg-l74-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:740px !important;
	}
}
.marg-l75-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:750px !important;
	}
}
.marg-l76-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:760px !important;
	}
}
.marg-l77-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:770px !important;
	}
}
.marg-l78-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:780px !important;
	}
}
.marg-l79-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:790px !important;
	}
}
.marg-l80-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:800px !important;
	}
}
.marg-l90-md{
	@media  (min-width:981px) and (max-width:1280px){
		margin-left:900px !important;
	}
}
.marg-l1-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:10px !important;
	}
}

.marg-l2-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:20px !important;
	}
}
.marg-l3-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:30px !important;
	}
}
.marg-l4-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:40px !important;
	}
}
.marg-l5-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:50px !important;
	}
}
.marg-l6-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:60px !important;
	}
}
.marg-l7-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:70px !important;
	}
}
.marg-l8-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:80px !important;
	}
}
.marg-l9-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:90px !important;
	}
}
.marg-l10-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:100px !important;
	}
}
.marg-l11-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:110px !important;
	}
}
.marg-l12-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:120px !important;
	}
}
.marg-l13-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:130px !important;
	}
}
.marg-l14-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:140px !important;
	}
}
.marg-l15-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:150px !important;
	}
}
.marg-l16-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:160px !important;
	}
}
.marg-l17-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:170px !important;
	}
}
.marg-l18-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:180px !important;
	}
}
.marg-l19-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:190px !important;
	}
}
.marg-l20-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:200px !important;
	}
}

.marg-l21-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:210px !important;
	}
}
.marg-l22-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:220px !important;
	}
}
.marg-l23-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:230px !important;
	}
}
.marg-l24-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:240px !important;
	}
}
.marg-l25-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:250px !important;
	}
}
.marg-l26-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:260px !important;
	}
}
.marg-l27-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:270px !important;
	}
}
.marg-l28-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:280px !important;
	}
}
.marg-l29-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:290px !important;
	}
}
.marg-l30-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:300px !important;
	}
}

.marg-l31-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:310px !important;
	}
}

.marg-l32-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:320px !important;
	}
}

.marg-l33-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:330px !important;
	}
}
.marg-l34-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:340px !important;
	}
}
.marg-l35-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:350px !important;
	}
}
.marg-l36-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:360px !important;
	}
}
.marg-l37-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:370px !important;
	}
}
.marg-l38-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:380px !important;
	}
}

.marg-l39-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:390px !important;
	}
}

.marg-l40-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:400px !important;
	}
}

.marg-l41-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:410px !important;
	}
}
.marg-l42-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:420px !important;
	}
}
.marg-l43-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:430px !important;
	}
}
.marg-l44-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:440px !important;
	}
}
.marg-l45-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:450px !important;
	}
}
.marg-l46-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:460px !important;
	}

}
.marg-l47-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:470px !important;
	}
}

.marg-l48-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:480px !important;
	}
}

.marg-l49-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:490px !important;
	}

}

.marg-l50-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:500px !important;
	}


}
.marg-l51-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:510px !important;
	}


}
.marg-l52-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:520px !important;
	}


}
.marg-l53-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:530px !important;
	}


}
.marg-l54-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:540px !important;
	}


}
.marg-l55-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:550px !important;
	}


}
.marg-l56-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:560px !important;
	}


}
.marg-l57-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:570px !important;
	}


}
.marg-l58-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:580px !important;
	}


}
.marg-l59-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:590px !important;
	}


}

.marg-l60-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:600px !important;
	}
}

.marg-l61-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:610px !important;
	}
}
.marg-l62-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:620px !important;
	}
}
.marg-l63-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:630px !important;
	}
}
.marg-l64-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:640px !important;
	}
}
.marg-l65-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:650px !important;
	}
}
.marg-l66-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:660px !important;
	}
}
.marg-l67-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:670px !important;
	}
}
.marg-l68-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:680px !important;
	}
}
.marg-l69-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:690px !important;
	}
}
.marg-l70-lg{
	@media  (min-width:1280px) and (max-width:1919px){
		margin-left:700px !important;
	}
}

.marg-l1-xl{
	@media  (min-width:1920px){
		margin-left:10px !important;
	}
}

.marg-l2-xl{
	@media  (min-width:1920px){
		margin-left:20px !important;
	}
}
.marg-l3-xl{
	@media  (min-width:1920px){
		margin-left:30px !important;
	}
}
.marg-l4-xl{
	@media  (min-width:1920px){
		margin-left:40px !important;
	}
}
.marg-l5-xl{
	@media  (min-width:1920px){
		margin-left:50px !important;
	}
}
.marg-l6-xl{
	@media  (min-width:1920px){
		margin-left:60px !important;
	}
}
.marg-l7-xl{
	@media  (min-width:1920px){
		margin-left:70px !important;
	}
}
.marg-l8-xl{
	@media  (min-width:1920px){
		margin-left:80px !important;
	}
}
.marg-l9-xl{
	@media  (min-width:1920px){
		margin-left:90px !important;
	}
}
.marg-l10-xl{
	@media  (min-width:1920px){
		margin-left:100px !important;
	}
}
.marg-l20-xl{
	@media  (min-width:1920px){
		margin-left:200px !important;
	}
}
.marg-l30-xl{
	@media  (min-width:1920px){
		margin-left:300px !important;
	}
}
.marg-l40-xl{
	@media  (min-width:1920px){
		margin-left:400px !important;
	}
}
.marg-l50-xl{
	@media  (min-width:1920px){
		margin-left:500px !important;
	}
}
.marg-l51-xl{
	@media  (min-width:1920px){
		margin-left:510px !important;
	}
}
.marg-l52-xl{
	@media  (min-width:1920px){
		margin-left:520px !important;
	}
}
.marg-l53-xl{
	@media  (min-width:1920px){
		margin-left:530px !important;
	}
}
.marg-l54-xl{
	@media  (min-width:1920px){
		margin-left:540px !important;
	}
}
.marg-l55-xl{
	@media  (min-width:1920px){
		margin-left:550px !important;
	}
}
.marg-l56-xl{
	@media  (min-width:1920px){
		margin-left:560px !important;
	}
}
.marg-l57-xl{
	@media  (min-width:1920px){
		margin-left:570px !important;
	}
}
.marg-l58-xl{
	@media  (min-width:1920px){
		margin-left:580px !important;
	}
}
.marg-l59-xl{
	@media  (min-width:1920px){
		margin-left:590px !important;
	}
}
.marg-l60-xl{
	@media  (min-width:1920px){
		margin-left:600px !important;
	}
}

.marg-l61-xl{
	@media  (min-width:1920px){
		margin-left:610px !important;
	}
}
.marg-l62-xl{
	@media  (min-width:1920px){
		margin-left:620px !important;
	}
}
.marg-l63-xl{
	@media  (min-width:1920px){
		margin-left:630px !important;
	}
}
.marg-l64-xl{
	@media  (min-width:1920px){
		margin-left:640px !important;
	}
}
.marg-l65-xl{
	@media  (min-width:1920px){
		margin-left:650px !important;
	}
}
.marg-l66-xl{
	@media  (min-width:1920px){
		margin-left:660px !important;
	}
}
.marg-l67-xl{
	@media  (min-width:1920px){
		margin-left:670px !important;
	}
}
.marg-l68-xl{
	@media  (min-width:1920px){
		margin-left:680px !important;
	}
}

.marg-l69-xl{
	@media  (min-width:1920px){
		margin-left:690px !important;
	}
}
.marg-l70-xl{
	@media  (min-width:1920px){
		margin-left:700px !important;
	}
}
.marg-l71-xl{
	@media  (min-width:1920px){
		margin-left:710px !important;
	}
}
.marg-l72-xl{
	@media  (min-width:1920px){
		margin-left:720px !important;
	}
}
.marg-l73-xl{
	@media  (min-width:1920px){
		margin-left:730px !important;
	}
}
.marg-l74-xl{
	@media  (min-width:1920px){
		margin-left:740px !important;
	}
}
.marg-l75-xl{
	@media  (min-width:1920px){
		margin-left:750px !important;
	}
}
.marg-l76-xl{
	@media  (min-width:1920px){
		margin-left:760px !important;
	}
}
.marg-l77-xl{
	@media  (min-width:1920px){
		margin-left:770px !important;
	}
}
.marg-l78-xl{
	@media  (min-width:1920px){
		margin-left:780px !important;
	}
}
.marg-l79-xl{
	@media  (min-width:1920px){
		margin-left:790px !important;
	}
}
.marg-l80-xl{
	@media  (min-width:1920px){
		margin-left:800px !important;
	}
}
.marg-l90-xl{
	@media  (min-width:1920px){
		margin-left:900px !important;
	}
}
.marg-l100-xl{
	@media  (min-width:1920px){
		margin-left:1000px !important;
	}
}
