.pad-1-a{
	&>a{
		padding:10px !important;
	}
}
.pad-2-a{
	&>a{
		padding:20px !important;
	}
}
.pad-3-a{
	&>a{
		padding:30px !important;
	}
}
.pad-4-a{
	&>a{
		padding:40px !important;
	}
}
.pad-5-a{
	&>a{
		padding:50px !important;
	}
}
.pad-6-a{
	&>a{
		padding:60px !important;
	}
}
.pad-7-a{
	&>a{
		padding:70px !important;
	}
}
.pad-8-a{
	&>a{
		padding:80px !important;
	}
}
.pad-9-a{
	&>a{
		padding:90px !important;
	}
}
.pad-10-a{
	&>a{
		padding:100px !important;
	}
}