.sin-pad{
	padding:0px !important;
}
.sin-marg{
	margin:0px !important;
}
.pad-05 {
  padding: 5px !important; }

.pad-1 {
  padding: 10px !important; }
.pad-2 {
  padding: 20px !important; }
.pad-3 {
  padding: 30px !important; }
.pad-4 {
  padding: 40px !important; }
.pad-5 {
  padding: 50px !important; }
.pad-6 {
  padding: 60px !important; }
.pad-7 {
  padding: 70px !important; }
.pad-8 {
  padding: 80px !important; }
.pad-9 {
  padding: 90px !important; }


.pad-l0{
	padding-left:0px !important;
}

.pad-l1{
	padding-left:10px !important;
}
.pad-l2{
	padding-left:20px !important;
}

.pad-l3{
	padding-left:30px !important;
}

.pad-l4{
	padding-left:40px !important;
}

.pad-l5{
	padding-left:50px !important;
}

.pad-l6{
	padding-left:60px !important;
}

.pad-l7{
	padding-left:70px !important;
}

.pad-l8{
	padding-left:80px !important;
}

.pad-l9{
	padding-left:90px !important;
}

.pad-l10{
	padding-left:100px !important;
}

.pad-l1-xs{
	@media (max-width:360px) {
		padding-left:10px !important;
	}
}

.pad-l2-xs{
	@media (max-width:360px) {
		padding-left:20px !important;
	}
}

.pad-l3-xs{
	@media (max-width:360px) {
		padding-left:30px !important;
	}
}
.pad-l4-xs{
	@media (max-width:360px) {
		padding-left:40px !important;
	}
}
.pad-l5-xs{
	@media (max-width:360px) {
		padding-left:50px !important;
	}
}
.pad-l6-xs{
	@media (max-width:360px) {
		padding-left:60px !important;
	}
}

.pad-l7-xs{
	@media (max-width:360px) {
		padding-left:70px !important;
	}
}
.pad-l8-xs{
	@media (max-width:360px) {
		padding-left:80px !important;
	}
}
.pad-l9-xs{
	@media (max-width:360px) {
		padding-left:90px !important;
	}
}
.pad-l10-xs{
	@media (max-width:360px) {
		padding-left:100px !important;
	}
}

.pad-l11-xs{
	@media (max-width:360px) {
		padding-left:110px !important;
	}
}
.pad-l12-xs{
	@media (max-width:360px) {
		padding-left:120px !important;
	}
}
.pad-l13-xs{
	@media (max-width:360px) {
		padding-left:130px !important;
	}
}
.pad-l14-xs{
	@media (max-width:360px) {
		padding-left:140px !important;
	}
}
.pad-l15-xs{
	@media (max-width:360px) {
		padding-left:150px !important;
	}
}
.pad-l16-xs{
	@media (max-width:360px) {
		padding-left:160px !important;
	}
}
.pad-l17-xs{
	@media (max-width:360px) {
		padding-left:170px !important;
	}
}
.pad-l18-xs{
	@media (max-width:360px) {
		padding-left:180px !important;
	}
}
.pad-l19-xs{
	@media (max-width:360px) {
		padding-left:190px !important;
	}
}
.pad-l20-xs{
	@media (max-width:360px) {
		padding-left:200px !important;
	}
}


.pad-l1-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:10px !important;
	}
}

.pad-l2-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:20px !important;
	}
}

.pad-l3-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:30px !important;
	}
}

.pad-l4-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:40px !important;
	}
}

.pad-l5-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:50px !important;
	}
}
.pad-l6-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:60px !important;
	}
}
.pad-l7-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:70px !important;
	}
}
.pad-l8-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:80px !important;
	}
}
.pad-l9-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:90px !important;
	}
}
.pad-l10-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:100px !important;
	}
}
.pad-l11-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:110px !important;
	}
}

.pad-l12-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:120px !important;
	}
}
.pad-l13-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:130px !important;
	}
}
.pad-l14-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:140px !important;
	}
}
.pad-l15-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:150px !important;
	}
}
.pad-l16-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:160px !important;
	}
}
.pad-l17-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:170px !important;
	}
}
.pad-l18-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:180px !important;
	}
}
.pad-l19-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:190px !important;
	}
}


.pad-l20-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:200px !important;
	}
}

.pad-l21-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:210px !important;
	}
}
.pad-l22-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:220px !important;
	}
}
.pad-l23-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:230px !important;
	}
}
.pad-l24-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:240px !important;
	}
}
.pad-l25-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:250px !important;
	}
}
.pad-l26-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:260px !important;
	}
}
.pad-l27-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:270px !important;
	}
}
.pad-l28-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:280px !important;
	}
}
.pad-l29-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:290px !important;
	}
}
.pad-l30-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:300px !important;
	}
}

.pad-l1-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:10px !important;
	}
}

.pad-l2-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:20px !important;
	}
}

.pad-l3-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:30px !important;
	}
}
.pad-l4-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:40px !important;
	}
}
.pad-l5-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:50px !important;
	}
}
.pad-l6-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:60px !important;
	}
}
.pad-l7-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:70px !important;
	}
}
.pad-l8-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:80px !important;
	}
}
.pad-l9-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:90px !important;
	}
}
.pad-l10-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:100px !important;
	}
}

.pad-l11-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:110px !important;
	}
}

.pad-l12-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:120px !important;
	}
}
.pad-l13-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:130px !important;
	}
}
.pad-l14-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:140px !important;
	}
}
.pad-l15-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:150px !important;
	}
}
.pad-l16-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:160px !important;
	}
}
.pad-l17-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:170px !important;
	}
}
.pad-l18-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:180px !important;
	}
}
.pad-l19-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:190px !important;
	}
}

.pad-l20-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:200px !important;
	}
}

.pad-l21-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:210px !important;
	}
}
.pad-l22-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:220px !important;
	}
}
.pad-l23-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:230px !important;
	}
}
.pad-l24-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:240px !important;
	}
}
.pad-l25-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:250px !important;
	}
}
.pad-l26-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:260px !important;
	}
}
.pad-l27-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:270px !important;
	}
}
.pad-l28-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:280px !important;
	}
}
.pad-l29-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:290px !important;
	}
}

.pad-l30-md{
	@media (min-width:981px) and (max-width:1280px){
		padding-left:300px !important;
	}
}



.pad-l1-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:10px !important;
	}
}

.pad-l2-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:20px !important;
	}
}
.pad-l3-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:30px !important;
	}
}
.pad-l4-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:40px !important;
	}
}
.pad-l5-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:50px !important;
	}
}
.pad-l6-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:60px !important;
	}
}
.pad-l7-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:70px !important;
	}
}
.pad-l8-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:80px !important;
	}
}
.pad-l9-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:90px !important;
	}
}
.pad-l10-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:100px !important;
	}
}

.pad-l11-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:110px !important;
	}
}
.pad-l12-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:120px !important;
	}
}
.pad-l13-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:130px !important;
	}
}
.pad-l14-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:140px !important;
	}
}
.pad-l15-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:150px !important;
	}
}
.pad-l16-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:160px !important;
	}
}
.pad-l17-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:170px !important;
	}
}

.pad-l18-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:180px !important;
	}
}
.pad-l19-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:190px !important;
	}
}

.pad-l20-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:200px !important;
	}
}

.pad-l21-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:210px !important;
	}
}


.pad-l22-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:220px !important;
	}
}

.pad-l23-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:230px !important;
	}
}

.pad-l24-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:240px !important;
	}
}

.pad-l25-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:250px !important;
	}
}

.pad-l26-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:260px !important;
	}
}

.pad-l27-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:270px !important;
	}
}


.pad-l28-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:280px !important;
	}
}

.pad-l29-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:290px !important;
	}
}


.pad-l30-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:300px !important;
	}
}



.pad-l1-xl{
	@media (min-width:1920px){
		padding-left:10px !important;
	}
}

.pad-l2-xl{
	@media (min-width:1920px){
		padding-left:20px !important;
	}
}
.pad-l3-xl{
	@media (min-width:1920px){
		padding-left:30px !important;
	}
}
.pad-l4-xl{
	@media (min-width:1920px){
		padding-left:40px !important;
	}
}
.pad-l5-xl{
	@media (min-width:1920px){
		padding-left:50px !important;
	}
}
.pad-l6-xl{
	@media (min-width:1920px){
		padding-left:60px !important;
	}
}
.pad-l7-xl{
	@media (min-width:1920px){
		padding-left:70px !important;
	}
}
.pad-l8-xl{
	@media (min-width:1920px){
		padding-left:80px !important;
	}
}
.pad-l9-xl{
	@media (min-width:1920px){
		padding-left:90px !important;
	}
}
.pad-l10-xl{
	@media (min-width:1920px){
		padding-left:100px !important;
	}
}

.pad-l11-xl{
	@media (min-width:1920px){
		padding-left:110px !important;
	}
}

.pad-l12-xl{
	@media (min-width:1920px){
		padding-left:120px !important;
	}
}

.pad-l13-xl{
	@media (min-width:1920px){
		padding-left:130px !important;
	}
}


.pad-l14-xl{
	@media (min-width:1920px){
		padding-left:140px !important;
	}
}

.pad-l15-xl{
	@media (min-width:1920px){
		padding-left:150px !important;
	}
}


.pad-l16-xl{
	@media (min-width:1920px){
		padding-left:160px !important;
	}
}


.pad-l17-xl{
	@media (min-width:1920px){
		padding-left:170px !important;
	}
}

.pad-l18-xl{
	@media (min-width:1920px){
		padding-left:180px !important;
	}
}

.pad-l19-xl{
	@media (min-width:1920px){
		padding-left:190px !important;
	}
}

.pad-l20-xl{
	@media (min-width:1920px){
		padding-left:200px !important;
	}
}


.pad-l21-xl{
	@media (min-width:1920px){
		padding-left:210px !important;
	}
}

.pad-l22-xl{
	@media (min-width:1920px){
		padding-left:220px !important;
	}
}

.pad-l23-xl{
	@media (min-width:1920px){
		padding-left:230px !important;
	}
}

.pad-l24-xl{
	@media (min-width:1920px){
		padding-left:240px !important;
	}
}

.pad-l25-xl{
	@media (min-width:1920px){
		padding-left:250px !important;
	}
}

.pad-l26-xl{
	@media (min-width:1920px){
		padding-left:260px !important;
	}
}

.pad-l27-xl{
	@media (min-width:1920px){
		padding-left:270px !important;
	}
}

.pad-l28-xl{
	@media (min-width:1920px){
		padding-left:280px !important;
	}
}
.pad-l29-xl{
	@media (min-width:1920px){
		padding-left:290px !important;
	}
}
.pad-l30-xl{
	@media (min-width:1920px){
		padding-left:300px !important;
	}
}





.pad-r0{
	padding-right:0px !important;
}

.pad-r1{
	padding-right:10px !important;
}

.pad-r2{
	padding-right:20px !important;
}
.pad-r3{
	padding-right:30px !important;
}
.pad-r4{
	padding-right:40px !important;
}
.pad-r5{
	padding-right:50px !important;
}
.pad-r6{
	padding-right:60px !important;
}
.pad-r7{
	padding-right:70px !important;
}
.pad-r8{
	padding-right:80px !important;
}
.pad-r9{
	padding-right:90px !important;
}
.pad-r10{
	padding-right:100px !important;
}
.pad-r11{
	padding-right:110px !important;
}
.pad-r12{
	padding-right:120px !important;
}

.pad-r13{
	padding-right:130px !important;
}
.pad-r14{
	padding-right:140px !important;
}
.pad-r15{
	padding-right:150px !important;
}
.pad-r16{
	padding-right:160px !important;
}
.pad-r17{
	padding-right:170px !important;
}
.pad-r18{
	padding-right:180px !important;
}
.pad-r19{
	padding-right:190px !important;
}
.pad-r20{
	padding-right:200px !important;
}



.pad-l1p{
	padding-left:1% !important;
}
.pad-l2p{
	padding-left:2% !important;
}

.pad-l3p{
	padding-left:3% !important;
}

.pad-l4p{
	padding-left:4% !important;
}

.pad-l5p{
	padding-left:5% !important;
}

.pad-l6p{
	padding-left:6% !important;
}

.pad-l7p{
	padding-left:7% !important;
}

.pad-l8p{
	padding-left:8% !important;
}

.pad-l9p{
	padding-left:9% !important;
}

.pad-l10p{
	padding-left:10% !important;
}


.pad-r1p{
	padding-right:1% !important;
}

.pad-r2p{
	padding-right:2% !important;
}
.pad-r3p{
	padding-right:3% !important;
}
.pad-r4p{
	padding-right:4% !important;
}
.pad-r5p{
	padding-right:5% !important;
}
.pad-r6p{
	padding-right:6% !important;
}
.pad-r7p{
	padding-right:7% !important;
}
.pad-r8p{
	padding-right:8% !important;
}
.pad-r9p{
	padding-right:9% !important;
}
.pad-r10p{
	padding-right:10% !important;
}
.pad-r11p{
	padding-right:11% !important;
}
.pad-r12p{
	padding-right:12% !important;
}

.pad-r13p{
	padding-right:13% !important;
}
.pad-r14p{
	padding-right:14% !important;
}
.pad-r15p{
	padding-right:15% !important;
}
.pad-r16p{
	padding-right:16% !important;
}
.pad-r17p{
	padding-right:17% !important;
}
.pad-r18p{
	padding-right:18% !important;
}
.pad-r19p{
	padding-right:19% !important;
}
.pad-r20p{
	padding-right:20% !important;
}



.pad-l1p-xs{
	@media (max-width:360px){
		padding-left:1% !important;
	}
	
}

.pad-l2p-xs{
	@media (max-width:360px){
		padding-left:2% !important;
	}
	
}
.pad-l3p-xs{
	@media (max-width:360px){
		padding-left:3% !important;
	}
	
}
.pad-l4p-xs{
	@media (max-width:360px){
		padding-left:4% !important;
	}
	
}
.pad-l5p-xs{
	@media (max-width:360px){
		padding-left:5% !important;
	}
	
}
.pad-l6p-xs{
	@media (max-width:360px){
		padding-left:6% !important;
	}
	
}
.pad-l7p-xs{
	@media (max-width:360px){
		padding-left:7% !important;
	}
	
}
.pad-l8p-xs{
	@media (max-width:360px){
		padding-left:8% !important;
	}
	
}
.pad-l9p-xs{
	@media (max-width:360px){
		padding-left:9% !important;
	}
	
}
.pad-l10p-xs{
	@media (max-width:360px){
		padding-left:10% !important;
	}
	
}
.pad-r1p-xs{
	@media (max-width:360px){
		padding-right:1% !important;
	}
	
}
.pad-r2p-xs{
	@media (max-width:360px){
		padding-right:2% !important;
	}
	
}
.pad-r3p-xs{
	@media (max-width:360px){
		padding-right:3% !important;
	}
	
}
.pad-r4p-xs{
	@media (max-width:360px){
		padding-right:4% !important;
	}
	
}
.pad-r5p-xs{
	@media (max-width:360px){
		padding-right:5% !important;
	}
	
}

.pad-r6p-xs{
	@media (max-width:360px){
		padding-right:6% !important;
	}
	
}
.pad-r7p-xs{
	@media (max-width:360px){
		padding-right:7% !important;
	}
	
}
.pad-r8p-xs{
	@media (max-width:360px){
		padding-right:8% !important;
	}
	
}
.pad-r9p-xs{
	@media (max-width:360px){
		padding-right:9% !important;
	}
	
}

.pad-r10p-xs{
	@media (max-width:360px){
		padding-right:10% !important;
	}
	
}


.pad-l1p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:1% !important;
	}
	
}

.pad-l2p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:2% !important;
	}
	
}

.pad-l3p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:3% !important;
	}
	
}

.pad-l4p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:4% !important;
	}
	
}
.pad-l5p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:5% !important;
	}
	
}
.pad-l6p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:6% !important;
	}
	
}
.pad-l7p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:7% !important;
	}
	
}
.pad-l8p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:8% !important;
	}
	
}
.pad-l9p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:9% !important;
	}
	
}

.pad-l10p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:10% !important;
	}
	
}
.pad-l11p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:11% !important;
	}
	
}
.pad-l12p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:12% !important;
	}
	
}
.pad-l13p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:13% !important;
	}
	
}
.pad-l14p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:14% !important;
	}
	
}
.pad-l15p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:15% !important;
	}
	
}
.pad-l16p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:16% !important;
	}
	
}
.pad-l17p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:17% !important;
	}
	
}
.pad-l18p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:18% !important;
	}
	
}
.pad-l19p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:19% !important;
	}
	
}
.pad-l20p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:20% !important;
	}
	
}

.pad-l21p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:21% !important;
	}
	
}
.pad-l22p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:22% !important;
	}
	
}
.pad-l23p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:23% !important;
	}
	
}
.pad-l24p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:24% !important;
	}
	
}
.pad-l25p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:25% !important;
	}
	
}
.pad-l26p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:26% !important;
	}
	
}
.pad-l27p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:27% !important;
	}
	
}
.pad-l28p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:28% !important;
	}
	
}
.pad-l29p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:29% !important;
	}
	
}
.pad-l30p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-left:30% !important;
	}
	
}



.pad-r1p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:1% !important;
	}
	
}

.pad-r2p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:2% !important;
	}
	
}
.pad-r3p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:3% !important;
	}
	
}
.pad-r4p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:4% !important;
	}
	
}
.pad-r5p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:5% !important;
	}
	
}
.pad-r6p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:6% !important;
	}
	
}
.pad-r7p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:7% !important;
	}
	
}
.pad-r8p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:8% !important;
	}
	
}
.pad-r9p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:9% !important;
	}
	
}
.pad-r10p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:10% !important;
	}
	
}
.pad-r11p-sm{
	@media (min-width:361px) and (max-width:980px){
		padding-right:11% !important;
	}
	
}


.pad-l1p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:1% !important;
	}
	
}

.pad-l2p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:2% !important;
	}
	
}

.pad-l3p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:3% !important;
	}
	
}

.pad-l4p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:4% !important;
	}
	
}

.pad-l5p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:5% !important;
	}
	
}

.pad-l6p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:6% !important;
	}
	
}

.pad-l7p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:7% !important;
	}
	
}

.pad-l8p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:8% !important;
	}
	
}


.pad-l9p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:9% !important;
	}
	
}

.pad-l10p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-left:10% !important;
	}
	
}


.pad-r1p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:1% !important;
	}
	
}

.pad-r2p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:2% !important;
	}
	
}
.pad-r3p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:3% !important;
	}
	
}
.pad-r4p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:4% !important;
	}
	
}
.pad-r5p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:5% !important;
	}
	
}
.pad-r6p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:7% !important;
	}
	
}
.pad-r8p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:8% !important;
	}
	
}
.pad-r9p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:9% !important;
	}
	
}
.pad-r10p-md{
	@media (min-width:980px) and (max-width:1280px){
		padding-right:10% !important;
	}
	
}


.pad-l1p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:1% !important;
	}
	
}

.pad-l2p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:2% !important;
	}
	
}
.pad-l3p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:3% !important;
	}
	
}
.pad-l4p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:4% !important;
	}
	
}
.pad-l5p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:5% !important;
	}
	
}
.pad-l6p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:6% !important;
	}
	
}
.pad-l7p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:7% !important;
	}
	
}

.pad-l8p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:8% !important;
	}
	
}
.pad-l9p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:9% !important;
	}
	
}
.pad-l10p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:10% !important;
	}
	
}
.pad-l11p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-left:11% !important;
	}
	
}


.pad-r1p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:1% !important;
	}
	
}

.pad-r2p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:2% !important;
	}
	
}

.pad-r3p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:3% !important;
	}
	
}
.pad-r4p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:4% !important;
	}
	
}
.pad-r5p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:5% !important;
	}
	
}
.pad-r6p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:6% !important;
	}
	
}
.pad-r7p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:7% !important;
	}
	
}
.pad-r8p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:8% !important;
	}
	
}
.pad-r9p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:9% !important;
	}
	
}
.pad-r10p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:10% !important;
	}
	
}
.pad-r1p-lg{
	@media (min-width:1280px) and (max-width:1919px){
		padding-right:1% !important;
	}
	
}


.pad-l1p-xl{
	@media (min-width:1920px) {
		padding-left:1% !important;
	}
	
}

.pad-l2p-xl{
	@media (min-width:1920px) {
		padding-left:2% !important;
	}
	
}

.pad-l3p-xl{
	@media (min-width:1920px) {
		padding-left:3% !important;
	}
	
}

.pad-l4p-xl{
	@media (min-width:1920px) {
		padding-left:4% !important;
	}
	
}

.pad-l5p-xl{
	@media (min-width:1920px) {
		padding-left:5% !important;
	}
	
}

.pad-l6p-xl{
	@media (min-width:1920px) {
		padding-left:6% !important;
	}
	
}

.pad-l7p-xl{
	@media (min-width:1920px) {
		padding-left:7% !important;
	}
	
}

.pad-l8p-xl{
	@media (min-width:1920px) {
		padding-left:8% !important;
	}
	
}

.pad-l9p-xl{
	@media (min-width:1920px) {
		padding-left:9% !important;
	}
	
}

.pad-l10p-xl{
	@media (min-width:1920px) {
		padding-left:10% !important;
	}
	
}

.pad-r1p-xl{
	@media (min-width:1920px) {
		padding-right:1% !important;
	}
	
}

.pad-r2p-xl{
	@media (min-width:1920px) {
		padding-right:2% !important;
	}
	
}
.pad-r3p-xl{
	@media (min-width:1920px) {
		padding-right:3% !important;
	}
	
}
.pad-r4p-xl{
	@media (min-width:1920px) {
		padding-right:4% !important;
	}
	
}
.pad-r5p-xl{
	@media (min-width:1920px) {
		padding-right:5% !important;
	}
	
}
.pad-r6p-xl{
	@media (min-width:1920px) {
		padding-right:6% !important;
	}
	
}
.pad-r7p-xl{
	@media (min-width:1920px) {
		padding-right:7% !important;
	}
	
}
.pad-r8p-xl{
	@media (min-width:1920px) {
		padding-right:8% !important;
	}
	
}

.pad-r9p-xl{
	@media (min-width:1920px) {
		padding-right:9% !important;
	}
	
}
.pad-r10p-xl{
	@media (min-width:1920px) {
		padding-right:10% !important;
	}
	
}
.pad-t0 {
  padding-top: 0px !important; }

.pad-t01 {
  padding-top: 1px !important; }
.pad-t02 {
  padding-top: 2px !important; }
.pad-t03 {
  padding-top: 3px !important; }
.pad-t04 {
  padding-top: 4px !important; }
.pad-t05 {
  padding-top: 5px !important; }
.pad-t06 {
  padding-top: 6px !important; }
.pad-t07 {
  padding-top: 7px !important; }
.pad-t08 {
  padding-top: 8px !important; }
.pad-t09 {
  padding-top: 9px !important; }

.pad-t1{
	padding-top:10px !important;
}
.pad-t1_1{
	padding-top:11px !important;
}
.pad-t1_2{
	padding-top:12px !important;
}
.pad-t1_3{
	padding-top:13px !important;
}
.pad-t1_4{
	padding-top:14px !important;
}
.pad-t1_5{
	padding-top:15px !important;
}
.pad-t1_6{
	padding-top:16px !important;
}
.pad-t1_7{
	padding-top:17px !important;
}
.pad-t1_8{
	padding-top:18px !important;
}
.pad-t1_9{
	padding-top:19px !important;
}
.pad-t2{
	padding-top:20px !important;
}

.pad-t2_1{
	padding-top:21px !important;
}

.pad-t2_2{
	padding-top:22px !important;
}
.pad-t2_3{
	padding-top:23px !important;
}
.pad-t2_4{
	padding-top:24px !important;
}
.pad-t2_5{
	padding-top:25px !important;
}
.pad-t2_6{
	padding-top:26px !important;
}
.pad-t2_7{
	padding-top:27px !important;
}
.pad-t2_8{
	padding-top:28px !important;
}
.pad-t2_9{
	padding-top:29px !important;
}


.pad-t3{
	padding-top:30px !important;
}
.pad-t4{
	padding-top:40px !important;
}
.pad-t5{
	padding-top:50px !important;
}
.pad-t6{
	padding-top:60px !important;
}
.pad-t7{
	padding-top:70px !important;
}
.pad-t8{
	padding-top:80px !important;
}
.pad-t9{
	padding-top:90px !important;
}
.pad-t10{
	padding-top:100px !important;
}
.pad-b05{
	padding-bottom:5px !important;
}
.pad-b1{
	padding-bottom:10px !important;
}

.pad-b2{
	padding-bottom:20px !important;
}

.pad-b3{
	padding-bottom:30px !important;
}

.pad-b4{
	padding-bottom:40px !important;
}
.pad-b5{
	padding-bottom:50px !important;
}
.pad-b6{
	padding-bottom:60px !important;
}
.pad-b7{
	padding-bottom:70px !important;
}
.pad-b8{
	padding-bottom:80px !important;
}

.pad-b9{
	padding-bottom:90px !important;
}
.pad-b10{
	padding-bottom:100px !important;
}

.pad0{
	padding:0px !important;
}
.pad05{
	padding:5px !important;
}