.left{
	float:left;
}
.left1{
	position:relative;
	left:1px;
}
.left2{
	position:relative;
	left:2px;
}
.left3{
	position:relative;
	left:3px;
}
.left4{
	position:relative;
	left:4px;
}
.left5{
	position:relative;
	left:5px;
}
.left6{
	position:relative;
	left:6px;
}
.left7{
	position:relative;
	left:7px;
}
.left8{
	position:relative;
	left:8px;
}
.left9{
	position:relative;
	left:9px;
}
.left10{
	position:relative;
	left:10px;
}
.left11{
	position:relative;
	left:11px;
}
.left12{
	position:relative;
	left:12px;
}
.left13{
	position:relative;
	left:13px;
}

.left1-xs{
	@media (max-width:320px){
		position:relative !important;
		left:1px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:1px !important;
	}

}

.left2-xs{
	@media (max-width:320px){
		position:relative !important;
		left:2px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:2px !important;
	}

}
.left3-xs{
	@media (max-width:320px){
		position:relative !important;
		left:3px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:3px !important;
	}

}
.left4-xs{
	@media (max-width:320px){
		position:relative !important;
		left:4px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:4px !important;
	}

}
.left5-xs{
	@media (max-width:320px){
		position:relative !important;
		left:5px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:5px !important;
	}

}
.left6-xs{
	@media (max-width:320px){
		position:relative !important;
		left:6px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:6px !important;
	}

}
.left7-xs{
	@media (max-width:320px){
		position:relative !important;
		left:7px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:7px !important;
	}

}
.left8-xs{
	@media (max-width:320px){
		position:relative !important;
		left:8px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:8px !important;
	}

}
.left9-xs{
	@media (max-width:320px){
		position:relative !important;
		left:9px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:9px !important;
	}

}
.left10-xs{
	@media (max-width:320px){
		position:relative !important;
		left:10px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:10px !important;
	}

}

.left11-xs{
	@media (max-width:320px){
		position:relative !important;
		left:11px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:11px !important;
	}

}
.left12-xs{
	@media (max-width:320px){
		position:relative !important;
		left:12px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:12px !important;
	}

}
.left13-xs{
	@media (max-width:320px){
		position:relative !important;
		left:13px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:13px !important;
	}

}
.left14-xs{
	@media (max-width:320px){
		position:relative !important;
		left:14px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:14px !important;
	}

}
.left15-xs{
	@media (max-width:320px){
		position:relative !important;
		left:15px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:15px !important;
	}

}
.left16-xs{
	@media (max-width:320px){
		position:relative !important;
		left:16px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:16px !important;
	}

}
.left17-xs{
	@media (max-width:320px){
		position:relative !important;
		left:17px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:17px !important;
	}

}
.left18-xs{
	@media (max-width:320px){
		position:relative !important;
		left:18px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:18px !important;
	}

}

.left19-xs{
	@media (max-width:320px){
		position:relative !important;
		left:19px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:19px !important;
	}

}
.left20-xs{
	@media (max-width:320px){
		position:relative !important;
		left:20px !important;
	}
	@media (max-width:360px){
		position:relative !important;
		left:20px !important;
	}

}
.left-1{
	position:relative;
	left:-1px;
}
.left-2{
	position:relative;
	left:-2px;
}
.left-3{
	position:relative;
	left:-3px;
}
.left-4{
	position:relative;
	left:-4px;
}
.left-5{
	position:relative;
	left:-5px;
}
.left-6{
	position:relative;
	left:-6px;
}
.left-7{
	position:relative;
	left:-7px;
}
.left-8{
	position:relative;
	left:-8px;
}
.left-9{
	position:relative;
	left:-9px;
}
.left-10{
	position:relative;
	left:-10px;
}
.left-11{
	position:relative;
	left:-11px;
}
.left-12{
	position:relative;
	left:-12px;
}
.left-13{
	position:relative;
	left:-13px;
}

.left-14{
	position:relative;
	left:-14px;
}
.left-15{
	position:relative;
	left:-15px;
}
.left-16{
	position:relative;
	left:-16px;
}
.left-17{
	position:relative;
	left:-17px;
}
.left-18{
	position:relative;
	left:-18px;
}
.left-19{
	position:relative;
	left:-19px;
}
.left-20{
	position:relative;
	left:-20px;
}
.left-21{
	position:relative;
	left:-21px;
}
.left-22{
	position:relative;
	left:-22px;
}
.left-23{
	position:relative;
	left:-23px;
}
.left-24{
	position:relative;
	left:-24px;
}
.left-25{
	position:relative;
	left:-25px;
}
.left-26{
	position:relative;
	left:-26px;
}
.left-27{
	position:relative;
	left:-27px;
}
.left-28{
	position:relative;
	left:-28px;
}
.left-29{
	position:relative;
	left:-29px;
}

.left-30{
	position:relative;
	left:-30px;
}

.left-31{
	position:relative;
	left:-31px;
}
.left-32{
	position:relative;
	left:-32px;
}
.left-33{
	position:relative;
	left:-33px;
}
.left-34{
	position:relative;
	left:-34px;
}
.left-35{
	position:relative;
	left:-35px;
}
.left-36{
	position:relative;
	left:-36px;
}
.left-37{
	position:relative;
	left:-37px;
}
.left-38{
	position:relative;
	left:-38px;
}
.left-39{
	position:relative;
	left:-39px;
}
.left-40{
	position:relative;
	left:-40px;
}
.left-41{
	position:relative;
	left:-41px;
}
.left-42{
	position:relative;
	left:-42px;
}
.left-43{
	position:relative;
	left:-43px;
}
.left-44{
	position:relative;
	left:-44px;
}

.left-45{
	position:relative;
	left:-45px;
}
.left-46{
	position:relative;
	left:-46px;
}
.left-47{
	position:relative;
	left:-47px;
}
.left-48{
	position:relative;
	left:-48px;
}
.left-50{
	position:relative;
	left:-50px;
}
.left-51{
	position:relative;
	left:-51px;
}

.left-52{
	position:relative;
	left:-52px;
}

.left-53{
	position:relative;
	left:-53px;
}

.left-54{
	position:relative;
	left:-54px;
}

.left-55{
	position:relative;
	left:-55px;
}

.left-56{
	position:relative;
	left:-56px;
}

.left-57{
	position:relative;
	left:-57px;
}

.left-58{
	position:relative;
	left:-58px;
}

.left-59{
	position:relative;
	left:-59px;
}


.left-60{
	position:relative;
	left:-60px;
}


.left-61{
	position:relative;
	left:-61px;
}

.left-62{
	position:relative;
	left:-62px;
}

.left-63{
	position:relative;
	left:-63px;
}

.left-64{
	position:relative;
	left:-64px;
}

.left-65{
	position:relative;
	left:-65px;
}

.left-66{
	position:relative;
	left:-66px;
}
.left-67{
	position:relative;
	left:-67px;
}
.left-68{
	position:relative;
	left:-68px;
}
.left-69{
	position:relative;
	left:-69px;
}
.left-70{
	position:relative;
	left:-70px;
}

.left-71{
	position:relative;
	left:-71px;
}

.left-72{
	position:relative;
	left:-72px;
}

.left-73{
	position:relative;
	left:-73px;
}

.left-74{
	position:relative;
	left:-74px;
}

.left-75{
	position:relative;
	left:-75px;
}

.left-76{
	position:relative;
	left:-76px;
}

.left-77{
	position:relative;
	left:-77px;
}
.left-78{
	position:relative;
	left:-78px;
}

.left-79{
	position:relative;
	left:-79px;
}


.left-80{
	position:relative;
	left:-80px;
}
.left-81{
	position:relative;
	left:-81px;
}
.left-82{
	position:relative;
	left:-82px;
}
.left-83{
	position:relative;
	left:-83px;
}
.left-84{
	position:relative;
	left:-84px;
}
.left-85{
	position:relative;
	left:-85px;
}
.left-86{
	position:relative;
	left:-86px;
}
.left-87{
	position:relative;
	left:-87px;
}
.left-88{
	position:relative;
	left:-88px;
}
.left-89{
	position:relative;
	left:-89px;
}
.left-90{
	position:relative;
	left:-90px;
}

.left-91{
	position:relative;
	left:-91px;
}
.left-92{
	position:relative;
	left:-92px;
}
.left-93{
	position:relative;
	left:-93px;
}
.left-94{
	position:relative;
	left:-94px;
}
.left-95{
	position:relative;
	left:-95px;
}
.left-96{
	position:relative;
	left:-96px;
}
.left-97{
	position:relative;
	left:-97px;
}
.left-98{
	position:relative;
	left:-98px;
}
.left-99{
	position:relative;
	left:-99px;
}
.left-100{
	position:relative;
	left:-100px;
}

.left-101{
	position:relative;
	left:-101px;
}
.left-102{
	position:relative;
	left:-102px;
}
.left-103{
	position:relative;
	left:-103px;
}
.left-104{
	position:relative;
	left:-104px;
}
.left-105{
	position:relative;
	left:-105px;
}
.left-106{
	position:relative;
	left:-106px;
}
.left-107{
	position:relative;
	left:-107px;
}
.left-108{
	position:relative;
	left:-108px;
}
.left-109{
	position:relative;
	left:-109px;
}
.left-110{
	position:relative;
	left:-110px;
}
.left-111{
	position:relative;
	left:-111px;
}
.left-112{
	position:relative;
	left:-112px;
}
.left-113{
	position:relative;
	left:-113px;
}

.left-114{
	position:relative;
	left:-114px;
}
.left-115{
	position:relative;
	left:-115px;
}
.left-116{
	position:relative;
	left:-116px;
}
.left-117{
	position:relative;
	left:-117px;
}
.left-118{
	position:relative;
	left:-118px;
}
.left-119{
	position:relative;
	left:-119px;
}
.left-120{
	position:relative;
	left:-120px;
}
.left-121{
	position:relative;
	left:-121px;
}
.left-122{
	position:relative;
	left:-122px;
}
.left-123{
	position:relative;
	left:-123px;
}
.left-124{
	position:relative;
	left:-124px;
}
.left-125{
	position:relative;
	left:-125px;
}
.left-126{
	position:relative;
	left:-126px;
}
.left-127{
	position:relative;
	left:-127px;
}
.left-128{
	position:relative;
	left:-128px;
}
.left-129{
	position:relative;
	left:-129px;
}

.left-130{
	position:relative;
	left:-130px;
}

.left-131{
	position:relative;
	left:-131px;
}
.left-132{
	position:relative;
	left:-132px;
}
.left-133{
	position:relative;
	left:-133px;
}
.left-134{
	position:relative;
	left:-134px;
}
.left-135{
	position:relative;
	left:-135px;
}
.left-136{
	position:relative;
	left:-136px;
}
.left-137{
	position:relative;
	left:-137px;
}
.left-138{
	position:relative;
	left:-138px;
}
.left-139{
	position:relative;
	left:-139px;
}
.left-140{
	position:relative;
	left:-140px;
}
.left-141{
	position:relative;
	left:-141px;
}
.left-142{
	position:relative;
	left:-142px;
}
.left-143{
	position:relative;
	left:-143px;
}
.left-144{
	position:relative;
	left:-144px;
}

.left-145{
	position:relative;
	left:-145px;
}
.left-146{
	position:relative;
	left:-146px;
}
.left-147{
	position:relative;
	left:-147px;
}
.left-148{
	position:relative;
	left:-148px;
}
.left-150{
	position:relative;
	left:-150px;
}
.left-151{
	position:relative;
	left:-151px;
}

.left-152{
	position:relative;
	left:-152px;
}

.left-153{
	position:relative;
	left:-153px;
}

.left-154{
	position:relative;
	left:-154px;
}

.left-155{
	position:relative;
	left:-155px;
}

.left-140-xs{
	@media (max-width:360){
		position:relative;
		left:-140px;
	}
}

.left-141-xs{
	@media (max-width:360){
		position:relative;
		left:-141px;
	}
}

.left-142-xs{
	@media (max-width:360){
		position:relative;
		left:-142px;
	}
}
.left-143-xs{
	@media (max-width:360){
		position:relative;
		left:-143px;
	}
}
.left-144-xs{
	@media (max-width:360){
		position:relative;
		left:-144px;
	}
}
.left-145-xs{
	@media (max-width:360){
		position:relative;
		left:-145px;
	}
}
.left-146-xs{
	@media (max-width:360){
		position:relative;
		left:-146px;
	}
}
.left-147-xs{
	@media (max-width:360){
		position:relative;
		left:-147px;
	}
}
.left-148-xs{
	@media (max-width:360){
		position:relative;
		left:-148px;
	}
}
.left-149-xs{
	@media (max-width:360){
		position:relative;
		left:-149px;
	}
}

.left-150-xs{
	@media (max-width:360){
		position:relative;
		left:-150px;
	}
}

.left-151-xs{
	@media (max-width:360){
		position:relative;
		left:-151px;
	}
}
.left-152-xs{
	@media (max-width:360){
		position:relative;
		left:-152px;
	}
}
.left-153-xs{
	@media (max-width:360){
		position:relative;
		left:-153px;
	}
}

.left-154-xs{
	@media (max-width:360){
		position:relative;
		left:-154px;
	}
}

.left-155-xs{
	@media (max-width:360){
		position:relative;
		left:-155px;
	}
}
.left-156-xs{
	@media (max-width:360){
		position:relative;
		left:-156px;
	}
}
.left-157-xs{
	@media (max-width:360){
		position:relative;
		left:-157px;
	}
}
.left-158-xs{
	@media (max-width:360){
		position:relative;
		left:-158px;
	}
}
.left-159-xs{
	@media (max-width:360){
		position:relative;
		left:-159px;
	}
}
.left-160-xs{
	@media (max-width:360){
		position:relative;
		left:-160px;
	}
}

.left-140-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-140px;
	}
}
.left-141-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-141px;
	}
}
.left-142-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-142px;
	}
}
.left-143-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-143px;
	}
}
.left-144-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-144px;
	}
}
.left-145-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-145px;
	}
}
.left-146-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-146px;
	}
}
.left-147-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-147px;
	}
}
.left-148-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-148px;
	}
}
.left-149-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-149px;
	}
}
.left-150-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-150px;
	}
}
.left-151-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-151px;
	}
}
.left-152-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-152px;
	}
}
.left-153-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-153px;
	}
}
.left-154-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-154px;
	}
}
.left-155-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-155px;
	}
}

.left-155-sm_{
		position:relative;
		left:-155px !important;
}

.left-156-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-156px;
	}
}
.left-157-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-157px;
	}
}
.left-158-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-158px;
	}
}
.left-159-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-159px;
	}
}
.left-160-sm{
	@media (min-width:361) and (max-width:980){
		position:relative;
		left:-160px;
	}
}


.left-140-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-140px;
	}
}

.left-141-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-141px;
	}
}
.left-142-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-142px;
	}
}
.left-143-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-143px;
	}
}
.left-144-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-144px;
	}
}
.left-145-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-145px;
	}
}
.left-146-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-146px;
	}
}
.left-147-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-147px;
	}
}
.left-148-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-148px;
	}
}
.left-149-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-149px;
	}
}

.left-150-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-150px;
	}
}

.left-151-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-151px;
	}
}
.left-152-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-152px;
	}
}
.left-153-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-153px;
	}
}
.left-154-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-154px;
	}
}
.left-155-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-155px;
	}
}

.left-156-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-156px;
	}
}
.left-157-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-157px;
	}
}
.left-158-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-158px;
	}
}
.left-159-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-159px;
	}
}
.left-160-md{
	@media (min-width:981) and (max-width:1280){
		position:relative;
		left:-160px;
	}
}


.left-140-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-140px;
	}
}
.left-141-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-141px;
	}
}
.left-142-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-142px;
	}
}
.left-143-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-143px;
	}
}
.left-144-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-144px;
	}
}
.left-145-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-145px;
	}
}
.left-146-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-146px;
	}
}
.left-147-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-147px;
	}
}
.left-148-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-148px;
	}
}
.left-149-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-149px;
	}
}
.left-150-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-150px;
	}
}

.left-151-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-151px;
	}
}
.left-152-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-152px;
	}
}
.left-153-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-153px;
	}
}
.left-154-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-154px;
	}
}
.left-155-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-155px;
	}
}
.left-156-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-156px;
	}
}
.left-157-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-157px;
	}
}
.left-158-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-158px;
	}
}
.left-159-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-159px;
	}
}
.left-160-lg{
	@media (min-width:1281) and (max-width:1980){
		position:relative;
		left:-160px;
	}
}

.left-140-xl{
	@media (min-width:1981){
		position:relative;
		left:-140px;
	}
}

.left-141-xl{
	@media (min-width:1981){
		position:relative;
		left:-141px;
	}
}
.left-142-xl{
	@media (min-width:1981){
		position:relative;
		left:-142px;
	}
}
.left-143-xl{
	@media (min-width:1981){
		position:relative;
		left:-143px;
	}
}
.left-144-xl{
	@media (min-width:1981){
		position:relative;
		left:-144px;
	}
}
.left-145-xl{
	@media (min-width:1981){
		position:relative;
		left:-145px;
	}
}
.left-146-xl{
	@media (min-width:1981){
		position:relative;
		left:-146px;
	}
}
.left-147-xl{
	@media (min-width:1981){
		position:relative;
		left:-147px;
	}
}
.left-148-xl{
	@media (min-width:1981){
		position:relative;
		left:-148px;
	}
}
.left-149-xl{
	@media (min-width:1981){
		position:relative;
		left:-149px;
	}
}
.left-150-xl{
	@media (min-width:1981){
		position:relative;
		left:-150px;
	}
}


.left-151-xl{
	@media (min-width:1981){
		position:relative;
		left:-151px;
	}
}

.left-152-xl{
	@media (min-width:1981){
		position:relative;
		left:-152px;
	}
}

.left-153-xl{
	@media (min-width:1981){
		position:relative;
		left:-153px;
	}
}


.left-154-xl{
	@media (min-width:1981){
		position:relative;
		left:-154px;
	}
}
.left-155-xl{
	@media (min-width:1981){
		position:relative;
		left:-155px;
	}
}


.left-156-xl{
	@media (min-width:1981){
		position:relative;
		left:-156px;
	}
}

.left-157-xl{
	@media (min-width:1981){
		position:relative;
		left:-157px;
	}
}

.left-158-xl{
	@media (min-width:1981){
		position:relative;
		left:-158px;
	}
}

.left-159-xl{
	@media (min-width:1981){
		position:relative;
		left:-159px;
	}
}

.left-160-xl{
	@media (min-width:1981){
		position:relative;
		left:-160px;
	}
}

.left-156{
	position:relative;
	left:-156px;
}

.left-157{
	position:relative;
	left:-157px;
}

.left-158{
	position:relative;
	left:-158px;
}

.left-159{
	position:relative;
	left:-159px;
}


.left-160{
	position:relative;
	left:-160px;
}


.left-161{
	position:relative;
	left:-161px;
}

.left-162{
	position:relative;
	left:-162px;
}

.left-163{
	position:relative;
	left:-163px;
}

.left-164{
	position:relative;
	left:-164px;
}

.left-165{
	position:relative;
	left:-165px;
}

.left-166{
	position:relative;
	left:-166px;
}
.left-167{
	position:relative;
	left:-167px;
}
.left-168{
	position:relative;
	left:-168px;
}
.left-169{
	position:relative;
	left:-169px;
}
.left-170{
	position:relative;
	left:-170px;
}

.left-171{
	position:relative;
	left:-171px;
}

.left-172{
	position:relative;
	left:-172px;
}

.left-173{
	position:relative;
	left:-173px;
}

.left-174{
	position:relative;
	left:-174px;
}

.left-175{
	position:relative;
	left:-175px;
}

.left-176{
	position:relative;
	left:-176px;
}

.left-177{
	position:relative;
	left:-177px;
}
.left-178{
	position:relative;
	left:-178px;
}

.left-179{
	position:relative;
	left:-179px;
}

.left-180{
	position:relative;
	left:-180px;
}

.left-181{
	position:relative;
	left:-181px;
}
.left-181{
	position:relative;
	left:-181px;
}
.left-182{
	position:relative;
	left:-182px;
}
.left-183{
	position:relative;
	left:-183px;
}
.left-184{
	position:relative;
	left:-184px;
}
.left-185{
	position:relative;
	left:-185px;
}
.left-186{
	position:relative;
	left:-186px;
}
.left-187{
	position:relative;
	left:-187px;
}
.left-188{
	position:relative;
	left:-188px;
}
.left-189{
	position:relative;
	left:-189px;
}
.left-190{
	position:relative;
	left:-190px;
}

.left-191{
	position:relative;
	left:-191px;
}
.left-192{
	position:relative;
	left:-192px;
}
.left-193{
	position:relative;
	left:-193px;
}
.left-194{
	position:relative;
	left:-194px;
}
.left-195{
	position:relative;
	left:-195px;
}
.left-196{
	position:relative;
	left:-196px;
}
.left-197{
	position:relative;
	left:-197px;
}
.left-198{
	position:relative;
	left:-198px;
}
.left-199{
	position:relative;
	left:-199px;
}
.left-200{
	position:relative;
	left:-200px;
}


.top0{
	position:relative;
	top:0px
}

.top1{
	position:relative;
	top:1px
}
.top2{
	position:relative;
	top:2px
}
.top3{
	position:relative;
	top:3px
}
.top4{
	position:relative;
	top:4px
}
.top5{
	position:relative;
	top:5px
}
.top6{
	position:relative;
	top:6px
}
.top7{
	position:relative;
	top:7px
}
.top8{
	position:relative;
	top:8px
}
.top9{
	position:relative;
	top:9px
}
.top10{
	position:relative;
	top:10px
}
.top11{
	position:relative;
	top:11px
}
.top12{
	position:relative;
	top:12px
}
.top13{
	position:relative;
	top:13px
}
.top14{
	position:relative;
	top:14px
}
.top15{
	position:relative;
	top:15px
}
.top16{
	position:relative;
	top:16px
}
.top17{
	position:relative;
	top:17px
}
.top18{
	position:relative;
	top:18px
}
.top19{
	position:relative;
	top:19px
}
.top20{
	position:relative;
	top:20px
}
.top21{
	position:relative;
	top:21px
}
.top22{
	position:relative;
	top:22px
}
.top23{
	position:relative;
	top:23px
}
.top24{
	position:relative;
	top:24px
}
.top25{
	position:relative;
	top:25px
}
.top26{
	position:relative;
	top:26px
}
.top27{
	position:relative;
	top:27px
}
.top28{
	position:relative;
	top:28px
}
.top29{
	position:relative;
	top:29px
}
.top30{
	position:relative;
	top:30px
}
.top31{
	position:relative;
	top:31px
}
.top32{
	position:relative;
	top:32px
}
.top33{
	position:relative;
	top:33px
}
.top34{
	position:relative;
	top:34px
}
.top35{
	position:relative;
	top:35px
}
.top36{
	position:relative;
	top:36px
}
.top37{
	position:relative;
	top:37px
}
.top38{
	position:relative;
	top:38px
}
.top39{
	position:relative;
	top:39px
}
.top40{
	position:relative;
	top:40px
}
.top41{
	position:relative;
	top:41px
}
.top42{
	position:relative;
	top:42px
}
.top43{
	position:relative;
	top:43px
}
.top44{
	position:relative;
	top:44px
}
.top45{
	position:relative;
	top:45px
}
.top46{
	position:relative;
	top:46px
}
.top47{
	position:relative;
	top:47px
}
.top48{
	position:relative;
	top:48px
}
.top49{
	position:relative;
	top:49px
}
.top50{
	position:relative;
	top:50px
}
.top51{
	position:relative;
	top:51px
}
.top52{
	position:relative;
	top:52px
}
.top53{
	position:relative;
	top:53px
}
.top54{
	position:relative;
	top:54px
}
.top55{
	position:relative;
	top:55px
}
.top56{
	position:relative;
	top:56px
}
.top57{
	position:relative;
	top:57px
}
.top58{
	position:relative;
	top:58px
}
.top59{
	position:relative;
	top:59px
}
.top60{
	position:relative;
	top:60px
}
.top61{
	position:relative;
	top:61px
}
.top62{
	position:relative;
	top:62px
}
.top63{
	position:relative;
	top:63px
}
.top64{
	position:relative;
	top:64px
}
.top65{
	position:relative;
	top:65px
}
.top66{
	position:relative;
	top:66px
}
.top67{
	position:relative;
	top:67px
}
.top68{
	position:relative;
	top:68px
}
.top69{
	position:relative;
	top:69px
}
.top70{
	position:relative;
	top:70px
}
.top71{
	position:relative;
	top:71px
}
.top72{
	position:relative;
	top:72px
}
.top73{
	position:relative;
	top:73px
}
.top74{
	position:relative;
	top:74px
}
.top75{
	position:relative;
	top:75px
}
.top76{
	position:relative;
	top:76px
}
.top77{
	position:relative;
	top:77px
}
.top78{
	position:relative;
	top:78px
}
.top79{
	position:relative;
	top:79px
}
.top80{
	position:relative;
	top:80px
}
.top81{
	position:relative;
	top:81px
}
.top82{
	position:relative;
	top:82px
}
.top83{
	position:relative;
	top:83px
}
.top84{
	position:relative;
	top:84px
}
.top85{
	position:relative;
	top:85px
}
.top86{
	position:relative;
	top:86px
}
.top87{
	position:relative;
	top:87px
}
.top88{
	position:relative;
	top:88px
}
.top89{
	position:relative;
	top:89px
}
.top90{
	position:relative;
	top:90px
}
.top91{
	position:relative;
	top:91px
}
.top92{
	position:relative;
	top:92px
}
.top93{
	position:relative;
	top:93px
}
.top94{
	position:relative;
	top:94px
}
.top95{
	position:relative;
	top:95px
}
.top96{
	position:relative;
	top:96px
}
.top97{
	position:relative;
	top:97px
}
.top98{
	position:relative;
	top:98px
}
.top99{
	position:relative;
	top:99px
}
.top100{
	position:relative;
	top:100px
}




.top-1{
	position:relative;
	top:-1px
}

.top-2{
	position:relative;
	top:-2px
}
.top-3{
	position:relative;
	top:-3px
}
.top-4{
	position:relative;
	top:-4px
}
.top-5{
	position:relative;
	top:-5px
}
.top-6{
	position:relative;
	top:-6px
}
.top-7{
	position:relative;
	top:-7px
}
.top-8{
	position:relative;
	top:-8px
}
.top-9{
	position:relative;
	top:-9px
}
.top-10{
	position:relative;
	top:-10px
}
.top-11{
	position:relative;
	top:-11px
}
.top-12{
	position:relative;
	top:-12px
}
.top-13{
	position:relative;
	top:-13px
}
.top-14{
	position:relative;
	top:-14px
}
.top-15{
	position:relative;
	top:-15px
}
.top-16{
	position:relative;
	top:-16px
}
.top-17{
	position:relative;
	top:-17px
}
.top-18{
	position:relative;
	top:-18px
}
.top-19{
	position:relative;
	top:-19px
}
.top-20{
	position:relative;
	top:-20px
}
.top-21{
	position:relative;
	top:-21px
}
.top-22{
	position:relative;
	top:-22px
}
.top-23{
	position:relative;
	top:-23px
}
.top-24{
	position:relative;
	top:-24px
}
.top-25{
	position:relative;
	top:-25px
}
.top-26{
	position:relative;
	top:-26px
}
.top-27{
	position:relative;
	top:-27px
}
.top-28{
	position:relative;
	top:-28px
}
.top-29{
	position:relative;
	top:-29px
}

.top-30{
	position:relative;
	top:-30px
}

.top-31{
	position:relative;
	top:-31px
}
.top-32{
	position:relative;
	top:-32px
}
.top-33{
	position:relative;
	top:-33px
}
.top-34{
	position:relative;
	top:-34px
}
.top-35{
	position:relative;
	top:-35px
}
.top-36{
	position:relative;
	top:-36px
}
.top-37{
	position:relative;
	top:-37px
}
.top-38{
	position:relative;
	top:-38px
}
.top-39{
	position:relative;
	top:-39px
}

.top-40{
	position:relative;
	top:-40px
}

.top-41{
	position:relative;
	top:-41px
}
.top-42{
	position:relative;
	top:-42px
}
.top-43{
	position:relative;
	top:-43px
}
.top-44{
	position:relative;
	top:-44px
}
.top-45{
	position:relative;
	top:-45px
}
.top-46{
	position:relative;
	top:-46px
}
.top-47{
	position:relative;
	top:-47px
}
.top-48{
	position:relative;
	top:-48px
}
.top-49{
	position:relative;
	top:-49px
}
.top-50{
	position:relative;
	top:-50px
}
.top-51{
	position:relative;
	top:-51px
}
.top-52{
	position:relative;
	top:-52px
}
.top-53{
	position:relative;
	top:-53px
}
.top-54{
	position:relative;
	top:-54px
}
.top-55{
	position:relative;
	top:-55px
}
.top-56{
	position:relative;
	top:-56px
}
.top-57{
	position:relative;
	top:-57px
}
.top-58{
	position:relative;
	top:-58px
}
.top-59{
	position:relative;
	top:-59px
}
.top-60{
	position:relative;
	top:-60px
}
.top-61{
	position:relative;
	top:-61px
}
.top-62{
	position:relative;
	top:-62px
}
.top-63{
	position:relative;
	top:-63px
}
.top-64{
	position:relative;
	top:-64px
}
.top-65{
	position:relative;
	top:-65px
}
.top-66{
	position:relative;
	top:-66px
}
.top-67{
	position:relative;
	top:-67px
}
.top-68{
	position:relative;
	top:-68px
}
.top-69{
	position:relative;
	top:-69px
}
.top-70{
	position:relative;
	top:-70px
}
.top-71{
	position:relative;
	top:-71px
}
.top-72{
	position:relative;
	top:-72px
}
.top-73{
	position:relative;
	top:-73px
}
.top-74{
	position:relative;
	top:-74px
}
.top-75{
	position:relative;
	top:-75px
}
.top-76{
	position:relative;
	top:-76px
}
.top-77{
	position:relative;
	top:-77px
}
.top-78{
	position:relative;
	top:-78px
}
.top-79{
	position:relative;
	top:-79px
}
.top-80{
	position:relative;
	top:-80px
}
.top-81{
	position:relative;
	top:-81px
}
.top-82{
	position:relative;
	top:-82px
}
.top-83{
	position:relative;
	top:-83px
}
.top-84{
	position:relative;
	top:-84px
}
.top-85{
	position:relative;
	top:-85px
}
.top-86{
	position:relative;
	top:-86px
}.top-87{
	position:relative;
	top:-87px
}
.top-88{
	position:relative;
	top:-88px
}
.top-89{
	position:relative;
	top:-89px
}
.top-90{
	position:relative;
	top:-90px
}
.top-91{
	position:relative;
	top:-91px
}
.top-92{
	position:relative;
	top:-92px
}
.top-93{
	position:relative;
	top:-93px
}
.top-94{
	position:relative;
	top:-94px
}
.top-95{
	position:relative;
	top:-95px
}
.top-96{
	position:relative;
	top:-96px
}
.top-97{
	position:relative;
	top:-97px
}
.top-98{
	position:relative;
	top:-98px
}
.top-99{
	position:relative;
	top:-99px
}
.top-100{
	position:relative;
	top:-100px
}



.right{
	float:right;
}
.p-b1{
	position:relative;
	bottom:10px;
}

.p-b2{
	position:relative;
	bottom:20px;
}

.p-b3{
	position:relative;
	bottom:30px;
}
.pt-1{
	position:relative;
	top:-10px;
}

.pt-2{
	position:relative;
	top:-20px;
}

.pt-3{
	position:relative;
	top:-30px;
}
.pt-4{
	position:relative;
	top:-40px;
}

.pt-5{
	position:relative;
	top:-50px;
}

.pt-6{
	position:relative;
	top:-60px;
}

.p-right{
	position:relative;
	right:0px;
}
.fixed{
	position:fixed !important;
	z-index:100;
}

.absolute{
	position:absolute !important;
}
.relative{
	position:relative !important;
}

.fixed{
	position:fixed !important;
}

.fleft-1{
	position:fixed !important;
	left:-1px;
}
.fleft-2{
	position:fixed !important;
	left:-2px;
}
.fleft-3{
	position:fixed !important;
	left:-3px;
}
.fleft-4{
	position:fixed !important;
	left:-4px;
}
.fleft-5{
	position:fixed !important;
	left:-5px;
}
.fleft-6{
	position:fixed !important;
	left:-6px;
}
.fleft-7{
	position:fixed !important;
	left:-7px;
}
.fleft-8{
	position:fixed !important;
	left:-8px;
}
.fleft-9{
	position:fixed !important;
	left:-9px;
}
.fleft-10{
	position:fixed !important;
	left:-10px;
}
.fleft1{
	position:fixed !important;
	left:1px;
}
.fleft2{
	position:fixed !important;
	left:2px;
}
.fleft3{
	position:fixed !important;
	left:3px;
}
.fleft4{
	position:fixed !important;
	left:4px;
}
.fleft5{
	position:fixed !important;
	left:5px;
}.fleft6{
	position:fixed !important;
	left:6px;
}
.fleft7{
	position:fixed !important;
	left:7px;
}
.fleft8{
	position:fixed !important;
	left:8px;
}
.fleft9{
	position:fixed !important;
	left:9px;
}
.fleft10{
	position:fixed !important;
	left:10px;
}

.aleft1{
	position:absolute !important;
	left:1px;
}
.aleft2{
	position:absolute !important;
	left:2px;
}
.aleft3{
	position:absolute !important;
	left:3px;
}
.aleft4{
	position:absolute !important;
	left:4px;
}
.aleft5{
	position:absolute !important;
	left:5px;
}
.aleft6{
	position:absolute !important;
	left:6px;
}
.aleft7{
	position:absolute !important;
	left:7px;
}
.aleft8{
	position:absolute !important;
	left:8px;
}
.aleft9{
	position:absolute !important;
	left:9px;
}
.aleft10{
	position:absolute !important;
	left:10px;
}
.aleft-1{
	position:absolute !important;
	left:-1px;
}
.aleft-2{
	position:absolute !important;
	left:-2px;
}
.aleft-3{
	position:absolute !important;
	left:-3px;
}
.aleft-4{
	position:absolute !important;
	left:-4px;
}
.aleft-5{
	position:absolute !important;
	left:-5px;
}
.aleft-6{
	position:absolute !important;
	left:-6px;
}
.aleft-7{
	position:absolute !important;
	left:-7px;
}
.aleft-8{
	position:absolute !important;
	left:-8px;
}
.aleft-9{
	position:absolute !important;
	left:-9px;
}
.aleft-10{
	position:absolute !important;
	left:-10px;
}

.atop-1{
	position:absolute !important;
	top:-1px;
}
.atop-1{
	position:absolute !important;
	top:-1px;
}
.atop-1{
	position:absolute !important;
	top:-1px;
}
.atop-2{
	position:absolute !important;
	top:-2px;
}
.atop-3{
	position:absolute !important;
	top:-3px;
}
.atop-4{
	position:absolute !important;
	top:-4px;
}
.atop-5{
	position:absolute !important;
	top:-5px;
}
.atop-6{
	position:absolute !important;
	top:-6px;
}
.atop-7{
	position:absolute !important;
	top:-7px;
}
.atop-8{
	position:absolute !important;
	top:-8px;
}
.atop-9{
	position:absolute !important;
	top:-9px;
}
.atop-19{
	position:absolute !important;
	top:-19px;
}

.atop1{
	position:absolute !important;
	top:1px;
}
.atop2{
	position:absolute !important;
	top:2px;
}
.atop3{
	position:absolute !important;
	top:3px;
}
.atop4{
	position:absolute !important;
	top:4px;
}
.atop5{
	position:absolute !important;
	top:5px;
}
.atop6{
	position:absolute !important;
	top:6px;
}
.atop7{
	position:absolute !important;
	top:7px;
}
.atop8{
	position:absolute !important;
	top:8px;
}
.atop9{
	position:absolute !important;
	top:9px;
}
.atop10{
	position:absolute !important;
	top:10px;
}
.ftop1{
	position:fixed !important;
	top:1px;
}
.ftop2{
	position:fixed !important;
	top:2px;
}
.ftop3{
	position:fixed !important;
	top:3px;
}
.ftop4{
	position:fixed !important;
	top:4px;
}
.ftop5{
	position:fixed !important;
	top:5px;
}
.ftop6{
	position:fixed !important;
	top:6px;
}
.ftop7{
	position:fixed !important;
	top:7px;
}
.ftop8{
	position:fixed !important;
	top:8px;
}
.ftop9{
	position:fixed !important;
	top:9px;
}
.ftop10{
	position:fixed !important;
	top:10px;
}
.ftop-1{
	position:fixed !important;
	top:-1px;
}
.ftop-2{
	position:fixed !important;
	top:-2px;
}
.ftop-3{
	position:fixed !important;
	top:-3px;
}
.ftop-4{
	position:fixed !important;
	top:-4px;
}
.ftop-5{
	position:fixed !important;
	top:-5px;
}
.ftop-6{
	position:fixed !important;
	top:-6px;
}
.ftop-7{
	position:fixed !important;
	top:-7px;
}
.ftop-8{
	position:fixed !important;
	top:-8px;
}
.ftop-9{
	position:fixed !important;
	top:-9px;
}
.ftop-10{
	position:fixed !important;
	top:-10px;
}
.z-index1{
	z-index:1 !important;
}
.z-index2{
	z-index:2 !important;
}
.z-index3{
	z-index:3 !important;
}
.z-index4{
	z-index:4 !important;
}
.z-index5{
	z-index:5 !important;
}
.z-index6{
	z-index:6 !important;
}
.z-index7{
	z-index:7 !important;
}
.z-index8{
	z-index:8 !important;
}
.z-index9{
	z-index:9 !important;
}
.z-index10{
	z-index:10 !important;
}

.z-index11{
	z-index:11 !important;
}

.z-index12{
	z-index:12 !important;
}

.z-index13{
	z-index:13 !important;
}

.z-index14{
	z-index:14 !important;
}

.z-index15{
	z-index:15 !important;
}

.z-index16{
	z-index:16 !important;
}
.z-index17{
	z-index:17 !important;
}

.z-index18{
	z-index:18 !important;
}

.z-index19{
	z-index:19 !important;
}

.z-index20{
	z-index:20 !important;
}

.z-index21{
	z-index:21 !important;
}

.z-index22{
	z-index:22 !important;
}

.z-index23{
	z-index:23 !important;
}

.z-index24{
	z-index:24 !important;
}

.z-index25{
	z-index:25 !important;
}

.z-index26{
	z-index:26 !important;
}

.z-index27{
	z-index:27 !important;
}

.z-index28{
	z-index:28 !important;
}

.z-index29{
	z-index:29 !important;
}

.z-index30{
	z-index:30 !important;
}
.z-index31{
	z-index:31 !important;
}
.z-index32{
	z-index:32 !important;
}
.z-index33{
	z-index:33 !important;
}
.z-index34{
	z-index:34 !important;
}
.z-index35{
	z-index:35 !important;
}
.z-index36{
	z-index:36 !important;
}
.z-index37{
	z-index:37 !important;
}
.z-index38{
	z-index:38 !important;
}
.z-index39{
	z-index:39 !important;
}
.z-index40{
	z-index:40 !important;
}
.z-index41{
	z-index:41 !important;
}
.z-index42{
	z-index:42 !important;
}
.z-index43{
	z-index:43 !important;
}
.z-index44{
	z-index:44 !important;
}
.z-index45{
	z-index:45 !important;
}
.z-index46{
	z-index:46 !important;
}
.z-index47{
	z-index:47 !important;
}
.z-index48{
	z-index:48 !important;
}
.z-index49{
	z-index:49 !important;
}
.z-index50{
	z-index:50 !important;
}
.z-index-1{
	z-index:-1 !important;
}
.z-index-2{
	z-index:-2 !important;
}
.z-index-3{
	z-index:-3 !important;
}
.z-index-4{
	z-index:-4 !important;
}
.z-index-5{
	z-index:-5 !important;
}
.z-index-6{
	z-index:-6 !important;
}
.z-index-7{
	z-index:-7 !important;
}
.z-index-8{
	z-index:-8 !important;
}
.z-index-9{
	z-index:-9 !important;
}
.z-index-10{
	z-index:-10 !important;
}
.z-index-11{
	z-index:-11 !important;
}
.z-index-12{
	z-index:-12 !important;
}
.z-index-13{
	z-index:-13 !important;
}
.z-index-14{
	z-index:-14 !important;
}
.z-index-15{
	z-index:-15 !important;
}
.z-index-16{
	z-index:-16 !important;
}
.z-index-17{
	z-index:-17 !important;
}
.z-index-18{
	z-index:-18 !important;
}
.z-index-19{
	z-index:-19 !important;
}
.z-index-20{
	z-index:-20 !important;
}
.z-index-21{
	z-index:-21 !important;
}
.z-index-22{
	z-index:-22 !important;
}
.z-index-23{
	z-index:-23 !important;
}
.z-index-24{
	z-index:-24 !important;
}
.z-index-25{
	z-index:-25 !important;
}
.z-index-26{
	z-index:-26 !important;
}
.z-index-27{
	z-index:-27 !important;
}
.z-index-28{
	z-index:-28 !important;
}
.z-index-29{
	z-index:-29 !important;
}
.z-index-30{
	z-index:-30 !important;
}
.z-index-31{
	z-index:-31 !important;
}
.z-index-32{
	z-index:-32 !important;
}
.z-index-33{
	z-index:-33 !important;
}
.z-index-34{
	z-index:-34 !important;
}
.z-index-35{
	z-index:-35 !important;
}
.z-index-36{
	z-index:-36 !important;
}
.z-index-37{
	z-index:-37 !important;
}
.z-index-38{
	z-index:-38 !important;
}
.z-index-39{
	z-index:-39 !important;
}
.z-index-40{
	z-index:-40 !important;
}




