.marg-l80p-xs{
	@media (min-width:320px){
	margin-left:80% !important;
	text-align:left !important;	
	}
}

.marg-l80p-sm{
	@media (min-width:768px){
	margin-left:80% !important;
	text-align:left !important;	
	}
}
