.width-1-a-img{
	&>a>img{
		width:10px !important;
	}
}

.width-2-a-img{
	&>a>img{
		width:20px !important;
	}
}
.width-3-a-img{
	&>a>img{
		width:30px !important;
	}
}
.width-4-a-img{
	&>a>img{
		width:40px !important;
	}
}
.width-5-a-img{
	&>a>img{
		width:50px !important;
	}
}
.width-6-a-img{
	&>a>img{
		width:60px !important;
	}
}
.width-7-a-img{
	&>a>img{
		width:70px !important;
	}
}
.width-8-a-img{
	&>a>img{
		width:80px !important;
	}
}
.width-9-a-img{
	&>a>img{
		width:90px !important;
	}
}
.width-10-a-img{
	&>a>img{
		width:100px !important;
	}
}
.width-11-a-img{
	&>a>img{
		width:110px !important;
	}
}
.width-12-a-img{
	&>a>img{
		width:120px !important;
	}
}
.width-13-a-img{
	&>a>img{
		width:130px !important;
	}
}
.width-14-a-img{
	&>a>img{
		width:140px !important;
	}
}
.width-15-a-img{
	&>a>img{
		width:150px !important;
	}
}
.width-16-a-img{
	&>a>img{
		width:160px !important;
	}
}
.width-17-a-img{
	&>a>img{
		width:170px !important;
	}
}
.width-18-a-img{
	&>a>img{
		width:180px !important;
	}
}
.width-19-a-img{
	&>a>img{
		width:190px !important;
	}
}


.width-20-a-img{
	&>a>img{
		width:200px !important;
	}
}
.width-21-a-img{
	&>a>img{
		width:210px !important;
	}
}
.width-22-a-img{
	&>a>img{
		width:220px !important;
	}
}
.width-23-a-img{
	&>a>img{
		width:230px !important;
	}
}
.width-24-a-img{
	&>a>img{
		width:240px !important;
	}
}
.width-25-a-img{
	&>a>img{
		width:250px !important;
	}
}
.width-26-a-img{
	&>a>img{
		width:260px !important;
	}
}
.width-27-a-img{
	&>a>img{
		width:270px !important;
	}
}
.width-28-a-img{
	&>a>img{
		width:280px !important;
	}
}
.width-29-a-img{
	&>a>img{
		width:290px !important;
	}
}
.width-30-a-img{
	&>a>img{
		width:300px !important;
	}
}
.width-31-a-img{
	&>a>img{
		width:310px !important;
	}
}
.width-32-a-img{
	&>a>img{
		width:320px !important;
	}
}
.width-33-a-img{
	&>a>img{
		width:330px !important;
	}
}
.width-34-a-img{
	&>a>img{
		width:340px !important;
	}
}
.width-35-a-img{
	&>a>img{
		width:350px !important;
	}
}
.width-36-a-img{
	&>a>img{
		width:360px !important;
	}
}
.width-37-a-img{
	&>a>img{
		width:370px !important;
	}
}
.width-38-a-img{
	&>a>img{
		width:380px !important;
	}
}
.width-39-a-img{
	&>a>img{
		width:390px !important;
	}
}
.width-40-a-img{
	&>a>img{
		width:400px !important;
	}
}
.width-41-a-img{
	&>a>img{
		width:410px !important;
	}
}
.width-42-a-img{
	&>a>img{
		width:420px !important;
	}
}
.width-43-a-img{
	&>a>img{
		width:430px !important;
	}
}
.width-44-a-img{
	&>a>img{
		width:440px !important;
	}
}
.width-45-a-img{
	&>a>img{
		width:400px !important;
	}
}
.width-46-a-img{
	&>a>img{
		width:400px !important;
	}
}
.width-47-a-img{
	&>a>img{
		width:400px !important;
	}
}
.width-48-a-img{
	&>a>img{
		width:400px !important;
	}
}
.width-49-a-img{
	&>a>img{
		width:400px !important;
	}
}

.width-50-a-img{
	&>a>img{
		width:500px !important;
	}
}
.width-51-a-img{
	&>a>img{
		width:510px !important;
	}
}
.width-52-a-img{
	&>a>img{
		width:520px !important;
	}
}
.width-53-a-img{
	&>a>img{
		width:530px !important;
	}
}
.width-54-a-img{
	&>a>img{
		width:540px !important;
	}
}
.width-55-a-img{
	&>a>img{
		width:550px !important;
	}
}
.width-56-a-img{
	&>a>img{
		width:560px !important;
	}
}
.width-57-a-img{
	&>a>img{
		width:570px !important;
	}
}
.width-58-a-img{
	&>a>img{
		width:580px !important;
	}
}
.width-59-a-img{
	&>a>img{
		width:590px !important;
	}
}

.width-60-a-img{
	&>a>img{
		width:600px !important;
	}
}
.width-61-a-img{
	&>a>img{
		width:610px !important;
	}
}
.width-62-a-img{
	&>a>img{
		width:620px !important;
	}
}
.width-63-a-img{
	&>a>img{
		width:630px !important;
	}
}
.width-64-a-img{
	&>a>img{
		width:640px !important;
	}
}
.width-65-a-img{
	&>a>img{
		width:650px !important;
	}
}
.width-66-a-img{
	&>a>img{
		width:660px !important;
	}
}
.width-67-a-img{
	&>a>img{
		width:670px !important;
	}
}
.width-68-a-img{
	&>a>img{
		width:680px !important;
	}
}
.width-69-a-img{
	&>a>img{
		width:690px !important;
	}
}


.width-70-a-img{
	&>a>img{
		width:700px !important;
	}
}
.width-71-a-img{
	&>a>img{
		width:710px !important;
	}
}
.width-72-a-img{
	&>a>img{
		width:720px !important;
	}
}
.width-73-a-img{
	&>a>img{
		width:730px !important;
	}
}
.width-74-a-img{
	&>a>img{
		width:740px !important;
	}
}
.width-75-a-img{
	&>a>img{
		width:750px !important;
	}
}
.width-76-a-img{
	&>a>img{
		width:760px !important;
	}
}
.width-77-a-img{
	&>a>img{
		width:770px !important;
	}
}
.width-78-a-img{
	&>a>img{
		width:780px !important;
	}
}
.width-79-a-img{
	&>a>img{
		width:790px !important;
	}
}
.width-80-a-img{
	&>a>img{
		width:800px !important;
	}
}
.width-81-a-img{
	&>a>img{
		width:810px !important;
	}
}
.width-82-a-img{
	&>a>img{
		width:820px !important;
	}
}
.width-83-a-img{
	&>a>img{
		width:830px !important;
	}
}
.width-84-a-img{
	&>a>img{
		width:840px !important;
	}
}
.width-85-a-img{
	&>a>img{
		width:850px !important;
	}
}
.width-86-a-img{
	&>a>img{
		width:860px !important;
	}
}
.width-87-a-img{
	&>a>img{
		width:870px !important;
	}
}
.width-88-a-img{
	&>a>img{
		width:880px !important;
	}
}
.width-89-a-img{
	&>a>img{
		width:890px !important;
	}
}
.width-90-a-img{
	&>a>img{
		width:900px !important;
	}
}
.width-91-a-img{
	&>a>img{
		width:910px !important;
	}
}
.width-92-a-img{
	&>a>img{
		width:920px !important;
	}
}
.width-93-a-img{
	&>a>img{
		width:930px !important;
	}
}
.width-94-a-img{
	&>a>img{
		width:940px !important;
	}
}
.width-95-a-img{
	&>a>img{
		width:950px !important;
	}
}
.width-96-a-img{
	&>a>img{
		width:960px !important;
	}
}
.width-97-a-img{
	&>a>img{
		width:970px !important;
	}
}
.width-98-a-img{
	&>a>img{
		width:980px !important;
	}
}
.width-99-a-img{
	&>a>img{
		width:990px !important;
	}
}
.width-100-a-img{
	&>a>img{
		width:1000px !important;
	}
}
.width-10-a-img{
	&>a>img{
		width:100px !important;
	}
}
.height-01-a-img{
	&>a>img{
		height:1px !important;
	}
	
}
.height-02-a-img{
	&>a>img{
		height:2px !important;
	}
	
}
.height-03-a-img{
	&>a>img{
		height:3px !important;
	}
	
}
.height-04-a-img{
	&>a>img{
		height:4px !important;
	}
	
}
.height-05-a-img{
	&>a>img{
		height:5px !important;
	}
	
}
.height-06-a-img{
	&>a>img{
		height:6px !important;
	}
	
}
.height-07-a-img{
	&>a>img{
		height:7px !important;
	}
	
}
.height-08-a-img{
	&>a>img{
		height:8px !important;
	}
	
}
.height-09-a-img{
	&>a>img{
		height:9px !important;
	}
	
}
.height-1-a-img{
	&>a>img{
		height:10px !important;
	}
	
}
.height-2-a-img{
	&>a>img{
		height:20px !important;
	}
	
}
.height-3-a-img{
	&>a>img{
		height:30px !important;
	}
	
}
.height-4-a-img{
	&>a>img{
		height:40px !important;
	}
	
}
.height-5-a-img{
	&>a>img{
		height:50px !important;
	}
	
}
.height-6-a-img{
	&>a>img{
		height:60px !important;
	}
	
}
.height-7-a-img{
	&>a>img{
		height:70px !important;
	}
	
}
.height-8-a-img{
	&>a>img{
		height:80px !important;
	}
	
}
.height-9-a-img{
	&>a>img{
		height:90px !important;
	}
	
}
.height-10-a-img{
	&>a>img{
		height:100px !important;
	}
	
}
.height-11-a-img{
	&>a>img{
		height:110px !important;
	}
	
}
.height-12-a-img{
	&>a>img{
		height:1200px !important;
	}
	
}
.height-13-a-img{
	&>a>img{
		height:130px !important;
	}
	
}
.height-14-a-img{
	&>a>img{
		height:140px !important;
	}
	
}
.height-15-a-img{
	&>a>img{
		height:150px !important;
	}
	
}
.height-16-a-img{
	&>a>img{
		height:160px !important;
	}
	
}
.height-17-a-img{
	&>a>img{
		height:170px !important;
	}
	
}
.height-18-a-img{
	&>a>img{
		height:180px !important;
	}
	
}
.height-19-a-img{
	&>a>img{
		height:190px !important;
	}
	
}
.height-20-a-img{
	&>a>img{
		height:200px !important;
	}
	
}
.height-21-a-img{
	&>a>img{
		height:210px !important;
	}
	
}
.height-22-a-img{
	&>a>img{
		height:220px !important;
	}
	
}
.height-23-a-img{
	&>a>img{
		height:230px !important;
	}
	
}
.height-24-a-img{
	&>a>img{
		height:240px !important;
	}
	
}
.height-25-a-img{
	&>a>img{
		height:250px !important;
	}
	
}
.height-26-a-img{
	&>a>img{
		height:260px !important;
	}
	
}
.height-27-a-img{
	&>a>img{
		height:270px !important;
	}
	
}
.height-28-a-img{
	&>a>img{
		height:280px !important;
	}
	
}
.height-29-a-img{
	&>a>img{
		height:290px !important;
	}
	
}

.height-30-a-img{
	&>a>img{
		height:300px !important;
	}
	
}
.height-31-a-img{
	&>a>img{
		height:310px !important;
	}
	
}
.height-32-a-img{
	&>a>img{
		height:320px !important;
	}
	
}
.height-33-a-img{
	&>a>img{
		height:330px !important;
	}
	
}
.height-34-a-img{
	&>a>img{
		height:340px !important;
	}
	
}
.height-35-a-img{
	&>a>img{
		height:350px !important;
	}
	
}
.height-36-a-img{
	&>a>img{
		height:360px !important;
	}
	
}
.height-37-a-img{
	&>a>img{
		height:370px !important;
	}
	
}
.height-38-a-img{
	&>a>img{
		height:380px !important;
	}
	
}
.height-39-a-img{
	&>a>img{
		height:390px !important;
	}
	
}
.height-40-a-img{
	&>a>img{
		height:400px !important;
	}
	
}
.height-41-a-img{
	&>a>img{
		height:410px !important;
	}
	
}
.height-42-a-img{
	&>a>img{
		height:420px !important;
	}
	
}
.height-43-a-img{
	&>a>img{
		height:430px !important;
	}
	
}
.height-44-a-img{
	&>a>img{
		height:440px !important;
	}
	
}
.height-45-a-img{
	&>a>img{
		height:450px !important;
	}
	
}
.height-46-a-img{
	&>a>img{
		height:460px !important;
	}
	
}
.height-47-a-img{
	&>a>img{
		height:470px !important;
	}
	
}
.height-48-a-img{
	&>a>img{
		height:480px !important;
	}
	
}
.height-49-a-img{
	&>a>img{
		height:490px !important;
	}
	
}
.height-50-a-img{
	&>a>img{
		height:500px !important;
	}
	
}
.height-51-a-img{
	&>a>img{
		height:510px !important;
	}
	
}
.height-52-a-img{
	&>a>img{
		height:520px !important;
	}
	
}
.height-53-a-img{
	&>a>img{
		height:530px !important;
	}
	
}
.height-54-a-img{
	&>a>img{
		height:540px !important;
	}
	
}
.height-55-a-img{
	&>a>img{
		height:550px !important;
	}
	
}
.height-56-a-img{
	&>a>img{
		height:560px !important;
	}
	
}
.height-57-a-img{
	&>a>img{
		height:570px !important;
	}
	
}
.height-58-a-img{
	&>a>img{
		height:580px !important;
	}
	
}
.height-59-a-img{
	&>a>img{
		height:590px !important;
	}
	
}
.height-60-a-img{
	&>a>img{
		height:600px !important;
	}
	
}
.height-61-a-img{
	&>a>img{
		height:610px !important;
	}
	
}
.height-62-a-img{
	&>a>img{
		height:620px !important;
	}
	
}
.height-63-a-img{
	&>a>img{
		height:630px !important;
	}
	
}
.height-64-a-img{
	&>a>img{
		height:640px !important;
	}
	
}
.height-65-a-img{
	&>a>img{
		height:650px !important;
	}
	
}
.height-66-a-img{
	&>a>img{
		height:660px !important;
	}
	
}
.height-67-a-img{
	&>a>img{
		height:670px !important;
	}
	
}
.height-68-a-img{
	&>a>img{
		height:680px !important;
	}
	
}
.height-69-a-img{
	&>a>img{
		height:690px !important;
	}
	
}

.height-70-a-img{
	&>a>img{
		height:700px !important;
	}
	
}
.height-71-a-img{
	&>a>img{
		height:710px !important;
	}
	
}
.height-72-a-img{
	&>a>img{
		height:720px !important;
	}
	
}
.height-73-a-img{
	&>a>img{
		height:730px !important;
	}
	
}
.height-74-a-img{
	&>a>img{
		height:740px !important;
	}
	
}
.height-75-a-img{
	&>a>img{
		height:750px !important;
	}
	
}
.height-76-a-img{
	&>a>img{
		height:760px !important;
	}
	
}
.height-77-a-img{
	&>a>img{
		height:770px !important;
	}
	
}
.height-78-a-img{
	&>a>img{
		height:780px !important;
	}
	
}
.height-79-a-img{
	&>a>img{
		height:790px !important;
	}
	
}
.height-80-a-img{
	&>a>img{
		height:800px !important;
	}
	
}
.height-81-a-img{
	&>a>img{
		height:810px !important;
	}
	
}
.height-82-a-img{
	&>a>img{
		height:820px !important;
	}
	
}
.height-83-a-img{
	&>a>img{
		height:830px !important;
	}
	
}
.height-84-a-img{
	&>a>img{
		height:840px !important;
	}
	
}
.height-85-a-img{
	&>a>img{
		height:850px !important;
	}
	
}
.height-86-a-img{
	&>a>img{
		height:860px !important;
	}
	
}
.height-87-a-img{
	&>a>img{
		height:870px !important;
	}
	
}
.height-88-a-img{
	&>a>img{
		height:880px !important;
	}
	
}
.height-89-a-img{
	&>a>img{
		height:890px !important;
	}
	
}
.height-90-a-img{
	&>a>img{
		height:900px !important;
	}
	
}
.height-91-a-img{
	&>a>img{
		height:910px !important;
	}
	
}
.height-92-a-img{
	&>a>img{
		height:920px !important;
	}
	
}
.height-93-a-img{
	&>a>img{
		height:930px !important;
	}
	
}
.height-94-a-img{
	&>a>img{
		height:940px !important;
	}
	
}
.height-95-a-img{
	&>a>img{
		height:950px !important;
	}
	
}
.height-96-a-img{
	&>a>img{
		height:960px !important;
	}
	
}
.height-97-a-img{
	&>a>img{
		height:970px !important;
	}
	
}
.height-98-a-img{
	&>a>img{
		height:980px !important;
	}
	
}
.height-99-a-img{
	&>a>img{
		height:990px !important;
	}
	
}
.height-100-a-img{
	&>a>img{
		height:1000px !important;
	}
	
}



.size-1-a-img{
	&>a>img{
		width: 10px !important;
		height: 10px !important;
	}
}

.size-2-a-img{
	&>a>img{
		width: 20px !important;
		height: 20px !important;
	}
}
.size-3-a-img{
	&>a>img{
		width: 30px !important;
		height: 30px !important;
	}
}
.size-4-a-img{
	&>a>img{
		width: 40px !important;
		height: 40px !important;
	}
}
.size-5-a-img{
	&>a>img{
		width: 50px !important;
		height: 50px !important;
	}
}
.size-6-a-img{
	&>a>img{
		width: 60px !important;
		height: 60px !important;
	}
}
.size-7-a-img{
	&>a>img{
		width: 70px !important;
		height: 70px !important;
	}
}
.size-8-a-img{
	&>a>img{
		width: 80px !important;
		height: 80px !important;
	}
}
.size-9-a-img{
	&>a>img{
		width: 90px !important;
		height: 90px !important;
	}
}
.size-10-a-img{
	&>a>img{
		width: 100px !important;
		height: 100px !important;
	}
}

