.width-1-div{
	&>div{
		width:10px !important;
	}
}

.width-2-div{
	&>div{
		width:20px !important;
	}
}
.width-3-div{
	&>div{
		width:30px !important;
	}
}
.width-4-div{
	&>div{
		width:40px !important;
	}
}
.width-5-div{
	&>div{
		width:50px !important;
	}
}
.width-6-div{
	&>div{
		width:60px !important;
	}
}
.width-7-div{
	&>div{
		width:70px !important;
	}
}
.width-8-div{
	&>div{
		width:80px !important;
	}
}
.width-9-div{
	&>div{
		width:90px !important;
	}
}
.width-10-div{
	&>div{
		width:100px !important;
	}
}
.width-11-div{
	&>div{
		width:110px !important;
	}
}
.width-12-div{
	&>div{
		width:120px !important;
	}
}
.width-13-div{
	&>div{
		width:130px !important;
	}
}
.width-14-div{
	&>div{
		width:140px !important;
	}
}
.width-15-div{
	&>div{
		width:150px !important;
	}
}
.width-16-div{
	&>div{
		width:160px !important;
	}
}
.width-17-div{
	&>div{
		width:170px !important;
	}
}
.width-18-div{
	&>div{
		width:180px !important;
	}
}
.width-19-div{
	&>div{
		width:190px !important;
	}
}


.width-20-div{
	&>div{
		width:200px !important;
	}
}
.width-21-div{
	&>div{
		width:210px !important;
	}
}
.width-22-div{
	&>div{
		width:220px !important;
	}
}
.width-23-div{
	&>div{
		width:230px !important;
	}
}
.width-24-div{
	&>div{
		width:240px !important;
	}
}
.width-25-div{
	&>div{
		width:250px !important;
	}
}
.width-26-div{
	&>div{
		width:260px !important;
	}
}
.width-27-div{
	&>div{
		width:270px !important;
	}
}
.width-28-div{
	&>div{
		width:280px !important;
	}
}
.width-29-div{
	&>div{
		width:290px !important;
	}
}
.width-30-div{
	&>div{
		width:300px !important;
	}
}
.width-31-div{
	&>div{
		width:310px !important;
	}
}
.width-32-div{
	&>div{
		width:320px !important;
	}
}
.width-33-div{
	&>div{
		width:330px !important;
	}
}
.width-34-div{
	&>div{
		width:340px !important;
	}
}
.width-35-div{
	&>div{
		width:350px !important;
	}
}
.width-36-div{
	&>div{
		width:360px !important;
	}
}
.width-37-div{
	&>div{
		width:370px !important;
	}
}
.width-38-div{
	&>div{
		width:380px !important;
	}
}
.width-39-div{
	&>div{
		width:390px !important;
	}
}
.width-40-div{
	&>div{
		width:400px !important;
	}
}
.width-41-div{
	&>div{
		width:410px !important;
	}
}
.width-42-div{
	&>div{
		width:420px !important;
	}
}
.width-43-div{
	&>div{
		width:430px !important;
	}
}
.width-44-div{
	&>div{
		width:440px !important;
	}
}
.width-45-div{
	&>div{
		width:400px !important;
	}
}
.width-46-div{
	&>div{
		width:400px !important;
	}
}
.width-47-div{
	&>div{
		width:400px !important;
	}
}
.width-48-div{
	&>div{
		width:400px !important;
	}
}
.width-49-div{
	&>div{
		width:400px !important;
	}
}

.width-50-div{
	&>div{
		width:500px !important;
	}
}
.width-51-div{
	&>div{
		width:510px !important;
	}
}
.width-52-div{
	&>div{
		width:520px !important;
	}
}
.width-53-div{
	&>div{
		width:530px !important;
	}
}
.width-54-div{
	&>div{
		width:540px !important;
	}
}
.width-55-div{
	&>div{
		width:550px !important;
	}
}
.width-56-div{
	&>div{
		width:560px !important;
	}
}
.width-57-div{
	&>div{
		width:570px !important;
	}
}
.width-58-div{
	&>div{
		width:580px !important;
	}
}
.width-59-div{
	&>div{
		width:590px !important;
	}
}

.width-60-div{
	&>div{
		width:600px !important;
	}
}
.width-61-div{
	&>div{
		width:610px !important;
	}
}
.width-62-div{
	&>div{
		width:620px !important;
	}
}
.width-63-div{
	&>div{
		width:630px !important;
	}
}
.width-64-div{
	&>div{
		width:640px !important;
	}
}
.width-65-div{
	&>div{
		width:650px !important;
	}
}
.width-66-div{
	&>div{
		width:660px !important;
	}
}
.width-67-div{
	&>div{
		width:670px !important;
	}
}
.width-68-div{
	&>div{
		width:680px !important;
	}
}
.width-69-div{
	&>div{
		width:690px !important;
	}
}


.width-70-div{
	&>div{
		width:700px !important;
	}
}
.width-71-div{
	&>div{
		width:710px !important;
	}
}
.width-72-div{
	&>div{
		width:720px !important;
	}
}
.width-73-div{
	&>div{
		width:730px !important;
	}
}
.width-74-div{
	&>div{
		width:740px !important;
	}
}
.width-75-div{
	&>div{
		width:750px !important;
	}
}
.width-76-div{
	&>div{
		width:760px !important;
	}
}
.width-77-div{
	&>div{
		width:770px !important;
	}
}
.width-78-div{
	&>div{
		width:780px !important;
	}
}
.width-79-div{
	&>div{
		width:790px !important;
	}
}
.width-80-div{
	&>div{
		width:800px !important;
	}
}
.width-81-div{
	&>div{
		width:810px !important;
	}
}
.width-82-div{
	&>div{
		width:820px !important;
	}
}
.width-83-div{
	&>div{
		width:830px !important;
	}
}
.width-84-div{
	&>div{
		width:840px !important;
	}
}
.width-85-div{
	&>div{
		width:850px !important;
	}
}
.width-86-div{
	&>div{
		width:860px !important;
	}
}
.width-87-div{
	&>div{
		width:870px !important;
	}
}
.width-88-div{
	&>div{
		width:880px !important;
	}
}
.width-89-div{
	&>div{
		width:890px !important;
	}
}
.width-90-div{
	&>div{
		width:900px !important;
	}
}
.width-91-div{
	&>div{
		width:910px !important;
	}
}
.width-92-div{
	&>div{
		width:920px !important;
	}
}
.width-93-div{
	&>div{
		width:930px !important;
	}
}
.width-94-div{
	&>div{
		width:940px !important;
	}
}
.width-95-div{
	&>div{
		width:950px !important;
	}
}
.width-96-div{
	&>div{
		width:960px !important;
	}
}
.width-97-div{
	&>div{
		width:970px !important;
	}
}
.width-98-div{
	&>div{
		width:980px !important;
	}
}
.width-99-div{
	&>div{
		width:990px !important;
	}
}
.width-100-div{
	&>div{
		width:1000px !important;
	}
}
.width-10-div{
	&>div{
		width:100px !important;
	}
}
.height-01-div{
	&>div{
		height:1px !important;
	}
	
}
.height-02-div{
	&>div{
		height:2px !important;
	}
	
}
.height-03-div{
	&>div{
		height:3px !important;
	}
	
}
.height-04-div{
	&>div{
		height:4px !important;
	}
	
}
.height-05-div{
	&>div{
		height:5px !important;
	}
	
}
.height-06-div{
	&>div{
		height:6px !important;
	}
	
}
.height-07-div{
	&>div{
		height:7px !important;
	}
	
}
.height-08-div{
	&>div{
		height:8px !important;
	}
	
}
.height-09-div{
	&>div{
		height:9px !important;
	}
	
}
.height-1-div{
	&>div{
		height:10px !important;
	}
	
}
.height-2-div{
	&>div{
		height:20px !important;
	}
	
}
.height-3-div{
	&>div{
		height:30px !important;
	}
	
}
.height-4-div{
	&>div{
		height:40px !important;
	}
	
}
.height-5-div{
	&>div{
		height:50px !important;
	}
	
}
.height-6-div{
	&>div{
		height:60px !important;
	}
	
}
.height-7-div{
	&>div{
		height:70px !important;
	}
	
}
.height-8-div{
	&>div{
		height:80px !important;
	}
	
}
.height-9-div{
	&>div{
		height:90px !important;
	}
	
}
.height-10-div{
	&>div{
		height:100px !important;
	}
	
}
.height-11-div{
	&>div{
		height:110px !important;
	}
	
}
.height-12-div{
	&>div{
		height:1200px !important;
	}
	
}
.height-13-div{
	&>div{
		height:130px !important;
	}
	
}
.height-14-div{
	&>div{
		height:140px !important;
	}
	
}
.height-15-div{
	&>div{
		height:150px !important;
	}
	
}
.height-16-div{
	&>div{
		height:160px !important;
	}
	
}
.height-17-div{
	&>div{
		height:170px !important;
	}
	
}
.height-18-div{
	&>div{
		height:180px !important;
	}
	
}
.height-19-div{
	&>div{
		height:190px !important;
	}
	
}
.height-20-div{
	&>div{
		height:200px !important;
	}
	
}
.height-21-div{
	&>div{
		height:210px !important;
	}
	
}
.height-22-div{
	&>div{
		height:220px !important;
	}
	
}
.height-23-div{
	&>div{
		height:230px !important;
	}
	
}
.height-24-div{
	&>div{
		height:240px !important;
	}
	
}
.height-25-div{
	&>div{
		height:250px !important;
	}
	
}
.height-26-div{
	&>div{
		height:260px !important;
	}
	
}
.height-27-div{
	&>div{
		height:270px !important;
	}
	
}
.height-28-div{
	&>div{
		height:280px !important;
	}
	
}
.height-29-div{
	&>div{
		height:290px !important;
	}
	
}

.height-30-div{
	&>div{
		height:300px !important;
	}
	
}
.height-31-div{
	&>div{
		height:310px !important;
	}
	
}
.height-32-div{
	&>div{
		height:320px !important;
	}
	
}
.height-33-div{
	&>div{
		height:330px !important;
	}
	
}
.height-34-div{
	&>div{
		height:340px !important;
	}
	
}
.height-35-div{
	&>div{
		height:350px !important;
	}
	
}
.height-36-div{
	&>div{
		height:360px !important;
	}
	
}
.height-37-div{
	&>div{
		height:370px !important;
	}
	
}
.height-38-div{
	&>div{
		height:380px !important;
	}
	
}
.height-39-div{
	&>div{
		height:390px !important;
	}
	
}
.height-40-div{
	&>div{
		height:400px !important;
	}
	
}
.height-41-div{
	&>div{
		height:410px !important;
	}
	
}
.height-42-div{
	&>div{
		height:420px !important;
	}
	
}
.height-43-div{
	&>div{
		height:430px !important;
	}
	
}
.height-44-div{
	&>div{
		height:440px !important;
	}
	
}
.height-45-div{
	&>div{
		height:450px !important;
	}
	
}
.height-46-div{
	&>div{
		height:460px !important;
	}
	
}
.height-47-div{
	&>div{
		height:470px !important;
	}
	
}
.height-48-div{
	&>div{
		height:480px !important;
	}
	
}
.height-49-div{
	&>div{
		height:490px !important;
	}
	
}
.height-50-div{
	&>div{
		height:500px !important;
	}
	
}
.height-51-div{
	&>div{
		height:510px !important;
	}
	
}
.height-52-div{
	&>div{
		height:520px !important;
	}
	
}
.height-53-div{
	&>div{
		height:530px !important;
	}
	
}
.height-54-div{
	&>div{
		height:540px !important;
	}
	
}
.height-55-div{
	&>div{
		height:550px !important;
	}
	
}
.height-56-div{
	&>div{
		height:560px !important;
	}
	
}
.height-57-div{
	&>div{
		height:570px !important;
	}
	
}
.height-58-div{
	&>div{
		height:580px !important;
	}
	
}
.height-59-div{
	&>div{
		height:590px !important;
	}
	
}
.height-60-div{
	&>div{
		height:600px !important;
	}
	
}
.height-61-div{
	&>div{
		height:610px !important;
	}
	
}
.height-62-div{
	&>div{
		height:620px !important;
	}
	
}
.height-63-div{
	&>div{
		height:630px !important;
	}
	
}
.height-64-div{
	&>div{
		height:640px !important;
	}
	
}
.height-65-div{
	&>div{
		height:650px !important;
	}
	
}
.height-66-div{
	&>div{
		height:660px !important;
	}
	
}
.height-67-div{
	&>div{
		height:670px !important;
	}
	
}
.height-68-div{
	&>div{
		height:680px !important;
	}
	
}
.height-69-div{
	&>div{
		height:690px !important;
	}
	
}

.height-70-div{
	&>div{
		height:700px !important;
	}
	
}
.height-71-div{
	&>div{
		height:710px !important;
	}
	
}
.height-72-div{
	&>div{
		height:720px !important;
	}
	
}
.height-73-div{
	&>div{
		height:730px !important;
	}
	
}
.height-74-div{
	&>div{
		height:740px !important;
	}
	
}
.height-75-div{
	&>div{
		height:750px !important;
	}
	
}
.height-76-div{
	&>div{
		height:760px !important;
	}
	
}
.height-77-div{
	&>div{
		height:770px !important;
	}
	
}
.height-78-div{
	&>div{
		height:780px !important;
	}
	
}
.height-79-div{
	&>div{
		height:790px !important;
	}
	
}
.height-80-div{
	&>div{
		height:800px !important;
	}
	
}
.height-81-div{
	&>div{
		height:810px !important;
	}
	
}
.height-82-div{
	&>div{
		height:820px !important;
	}
	
}
.height-83-div{
	&>div{
		height:830px !important;
	}
	
}
.height-84-div{
	&>div{
		height:840px !important;
	}
	
}
.height-85-div{
	&>div{
		height:850px !important;
	}
	
}
.height-86-div{
	&>div{
		height:860px !important;
	}
	
}
.height-87-div{
	&>div{
		height:870px !important;
	}
	
}
.height-88-div{
	&>div{
		height:880px !important;
	}
	
}
.height-89-div{
	&>div{
		height:890px !important;
	}
	
}
.height-90-div{
	&>div{
		height:900px !important;
	}
	
}
.height-91-div{
	&>div{
		height:910px !important;
	}
	
}
.height-92-div{
	&>div{
		height:920px !important;
	}
	
}
.height-93-div{
	&>div{
		height:930px !important;
	}
	
}
.height-94-div{
	&>div{
		height:940px !important;
	}
	
}
.height-95-div{
	&>div{
		height:950px !important;
	}
	
}
.height-96-div{
	&>div{
		height:960px !important;
	}
	
}
.height-97-div{
	&>div{
		height:970px !important;
	}
	
}
.height-98-div{
	&>div{
		height:980px !important;
	}
	
}
.height-99-div{
	&>div{
		height:990px !important;
	}
	
}
.height-100-div{
	&>div{
		height:1000px !important;
	}
	
}







