.width-1-img{
	&>img{
		width:10px !important;
	}
}

.width-2-img{
	&>img{
		width:20px !important;
	}
}
.width-3-img{
	&>img{
		width:30px !important;
	}
}
.width-4-img{
	&>img{
		width:40px !important;
	}
}
.width-5-img{
	&>img{
		width:50px !important;
	}
}
.width-6-img{
	&>img{
		width:60px !important;
	}
}
.width-7-img{
	&>img{
		width:70px !important;
	}
}
.width-8-img{
	&>img{
		width:80px !important;
	}
}
.width-9-img{
	&>img{
		width:90px !important;
	}
}
.width-10-img{
	&>img{
		width:100px !important;
	}
}
.width-11-img{
	&>img{
		width:110px !important;
	}
}
.width-12-img{
	&>img{
		width:120px !important;
	}
}
.width-13-img{
	&>img{
		width:130px !important;
	}
}
.width-14-img{
	&>img{
		width:140px !important;
	}
}
.width-15-img{
	&>img{
		width:150px !important;
	}
}
.width-16-img{
	&>img{
		width:160px !important;
	}
}
.width-17-img{
	&>img{
		width:170px !important;
	}
}
.width-18-img{
	&>img{
		width:180px !important;
	}
}
.width-19-img{
	&>img{
		width:190px !important;
	}
}


.width-20-img{
	&>img{
		width:200px !important;
	}
}
.width-21-img{
	&>img{
		width:210px !important;
	}
}
.width-22-img{
	&>img{
		width:220px !important;
	}
}
.width-23-img{
	&>img{
		width:230px !important;
	}
}
.width-24-img{
	&>img{
		width:240px !important;
	}
}
.width-25-img{
	&>img{
		width:250px !important;
	}
}
.width-26-img{
	&>img{
		width:260px !important;
	}
}
.width-27-img{
	&>img{
		width:270px !important;
	}
}
.width-28-img{
	&>img{
		width:280px !important;
	}
}
.width-29-img{
	&>img{
		width:290px !important;
	}
}
.width-30-img{
	&>img{
		width:300px !important;
	}
}
.width-31-img{
	&>img{
		width:310px !important;
	}
}
.width-32-img{
	&>img{
		width:320px !important;
	}
}
.width-33-img{
	&>img{
		width:330px !important;
	}
}
.width-34-img{
	&>img{
		width:340px !important;
	}
}
.width-35-img{
	&>img{
		width:350px !important;
	}
}
.width-36-img{
	&>img{
		width:360px !important;
	}
}
.width-37-img{
	&>img{
		width:370px !important;
	}
}
.width-38-img{
	&>img{
		width:380px !important;
	}
}
.width-39-img{
	&>img{
		width:390px !important;
	}
}
.width-40-img{
	&>img{
		width:400px !important;
	}
}
.width-41-img{
	&>img{
		width:410px !important;
	}
}
.width-42-img{
	&>img{
		width:420px !important;
	}
}
.width-43-img{
	&>img{
		width:430px !important;
	}
}
.width-44-img{
	&>img{
		width:440px !important;
	}
}
.width-45-img{
	&>img{
		width:400px !important;
	}
}
.width-46-img{
	&>img{
		width:400px !important;
	}
}
.width-47-img{
	&>img{
		width:400px !important;
	}
}
.width-48-img{
	&>img{
		width:400px !important;
	}
}
.width-49-img{
	&>img{
		width:400px !important;
	}
}

.width-50-img{
	&>img{
		width:500px !important;
	}
}
.width-51-img{
	&>img{
		width:510px !important;
	}
}
.width-52-img{
	&>img{
		width:520px !important;
	}
}
.width-53-img{
	&>img{
		width:530px !important;
	}
}
.width-54-img{
	&>img{
		width:540px !important;
	}
}
.width-55-img{
	&>img{
		width:550px !important;
	}
}
.width-56-img{
	&>img{
		width:560px !important;
	}
}
.width-57-img{
	&>img{
		width:570px !important;
	}
}
.width-58-img{
	&>img{
		width:580px !important;
	}
}
.width-59-img{
	&>img{
		width:590px !important;
	}
}

.width-60-img{
	&>img{
		width:600px !important;
	}
}
.width-61-img{
	&>img{
		width:610px !important;
	}
}
.width-62-img{
	&>img{
		width:620px !important;
	}
}
.width-63-img{
	&>img{
		width:630px !important;
	}
}
.width-64-img{
	&>img{
		width:640px !important;
	}
}
.width-65-img{
	&>img{
		width:650px !important;
	}
}
.width-66-img{
	&>img{
		width:660px !important;
	}
}
.width-67-img{
	&>img{
		width:670px !important;
	}
}
.width-68-img{
	&>img{
		width:680px !important;
	}
}
.width-69-img{
	&>img{
		width:690px !important;
	}
}


.width-70-img{
	&>img{
		width:700px !important;
	}
}
.width-71-img{
	&>img{
		width:710px !important;
	}
}
.width-72-img{
	&>img{
		width:720px !important;
	}
}
.width-73-img{
	&>img{
		width:730px !important;
	}
}
.width-74-img{
	&>img{
		width:740px !important;
	}
}
.width-75-img{
	&>img{
		width:750px !important;
	}
}
.width-76-img{
	&>img{
		width:760px !important;
	}
}
.width-77-img{
	&>img{
		width:770px !important;
	}
}
.width-78-img{
	&>img{
		width:780px !important;
	}
}
.width-79-img{
	&>img{
		width:790px !important;
	}
}
.width-80-img{
	&>img{
		width:800px !important;
	}
}
.width-81-img{
	&>img{
		width:810px !important;
	}
}
.width-82-img{
	&>img{
		width:820px !important;
	}
}
.width-83-img{
	&>img{
		width:830px !important;
	}
}
.width-84-img{
	&>img{
		width:840px !important;
	}
}
.width-85-img{
	&>img{
		width:850px !important;
	}
}
.width-86-img{
	&>img{
		width:860px !important;
	}
}
.width-87-img{
	&>img{
		width:870px !important;
	}
}
.width-88-img{
	&>img{
		width:880px !important;
	}
}
.width-89-img{
	&>img{
		width:890px !important;
	}
}
.width-90-img{
	&>img{
		width:900px !important;
	}
}
.width-91-img{
	&>img{
		width:910px !important;
	}
}
.width-92-img{
	&>img{
		width:920px !important;
	}
}
.width-93-img{
	&>img{
		width:930px !important;
	}
}
.width-94-img{
	&>img{
		width:940px !important;
	}
}
.width-95-img{
	&>img{
		width:950px !important;
	}
}
.width-96-img{
	&>img{
		width:960px !important;
	}
}
.width-97-img{
	&>img{
		width:970px !important;
	}
}
.width-98-img{
	&>img{
		width:980px !important;
	}
}
.width-99-img{
	&>img{
		width:990px !important;
	}
}
.width-100-img{
	&>img{
		width:1000px !important;
	}
}
.width-10-img{
	&>img{
		width:100px !important;
	}
}
.height-01-img{
	&>img{
		height:1px !important;
	}
	
}
.height-02-img{
	&>img{
		height:2px !important;
	}
	
}
.height-03-img{
	&>img{
		height:3px !important;
	}
	
}
.height-04-img{
	&>img{
		height:4px !important;
	}
	
}
.height-05-img{
	&>img{
		height:5px !important;
	}
	
}
.height-06-img{
	&>img{
		height:6px !important;
	}
	
}
.height-07-img{
	&>img{
		height:7px !important;
	}
	
}
.height-08-img{
	&>img{
		height:8px !important;
	}
	
}
.height-09-img{
	&>img{
		height:9px !important;
	}
	
}
.height-1-img{
	&>img{
		height:10px !important;
	}
	
}
.height-2-img{
	&>img{
		height:20px !important;
	}
	
}
.height-3-img{
	&>img{
		height:30px !important;
	}
	
}
.height-4-img{
	&>img{
		height:40px !important;
	}
	
}
.height-5-img{
	&>img{
		height:50px !important;
	}
	
}
.height-6-img{
	&>img{
		height:60px !important;
	}
	
}
.height-7-img{
	&>img{
		height:70px !important;
	}
	
}
.height-8-img{
	&>img{
		height:80px !important;
	}
	
}
.height-9-img{
	&>img{
		height:90px !important;
	}
	
}
.height-10-img{
	&>img{
		height:100px !important;
	}
	
}
.height-11-img{
	&>img{
		height:110px !important;
	}
	
}
.height-12-img{
	&>img{
		height:1200px !important;
	}
	
}
.height-13-img{
	&>img{
		height:130px !important;
	}
	
}
.height-14-img{
	&>img{
		height:140px !important;
	}
	
}
.height-15-img{
	&>img{
		height:150px !important;
	}
	
}
.height-16-img{
	&>img{
		height:160px !important;
	}
	
}
.height-17-img{
	&>img{
		height:170px !important;
	}
	
}
.height-18-img{
	&>img{
		height:180px !important;
	}
	
}
.height-19-img{
	&>img{
		height:190px !important;
	}
	
}
.height-20-img{
	&>img{
		height:200px !important;
	}
	
}
.height-21-img{
	&>img{
		height:210px !important;
	}
	
}
.height-22-img{
	&>img{
		height:220px !important;
	}
	
}
.height-23-img{
	&>img{
		height:230px !important;
	}
	
}
.height-24-img{
	&>img{
		height:240px !important;
	}
	
}
.height-25-img{
	&>img{
		height:250px !important;
	}
	
}
.height-26-img{
	&>img{
		height:260px !important;
	}
	
}
.height-27-img{
	&>img{
		height:270px !important;
	}
	
}
.height-28-img{
	&>img{
		height:280px !important;
	}
	
}
.height-29-img{
	&>img{
		height:290px !important;
	}
	
}

.height-30-img{
	&>img{
		height:300px !important;
	}
	
}
.height-31-img{
	&>img{
		height:310px !important;
	}
	
}
.height-32-img{
	&>img{
		height:320px !important;
	}
	
}
.height-33-img{
	&>img{
		height:330px !important;
	}
	
}
.height-34-img{
	&>img{
		height:340px !important;
	}
	
}
.height-35-img{
	&>img{
		height:350px !important;
	}
	
}
.height-36-img{
	&>img{
		height:360px !important;
	}
	
}
.height-37-img{
	&>img{
		height:370px !important;
	}
	
}
.height-38-img{
	&>img{
		height:380px !important;
	}
	
}
.height-39-img{
	&>img{
		height:390px !important;
	}
	
}
.height-40-img{
	&>img{
		height:400px !important;
	}
	
}
.height-41-img{
	&>img{
		height:410px !important;
	}
	
}
.height-42-img{
	&>img{
		height:420px !important;
	}
	
}
.height-43-img{
	&>img{
		height:430px !important;
	}
	
}
.height-44-img{
	&>img{
		height:440px !important;
	}
	
}
.height-45-img{
	&>img{
		height:450px !important;
	}
	
}
.height-46-img{
	&>img{
		height:460px !important;
	}
	
}
.height-47-img{
	&>img{
		height:470px !important;
	}
	
}
.height-48-img{
	&>img{
		height:480px !important;
	}
	
}
.height-49-img{
	&>img{
		height:490px !important;
	}
	
}
.height-50-img{
	&>img{
		height:500px !important;
	}
	
}
.height-51-img{
	&>img{
		height:510px !important;
	}
	
}
.height-52-img{
	&>img{
		height:520px !important;
	}
	
}
.height-53-img{
	&>img{
		height:530px !important;
	}
	
}
.height-54-img{
	&>img{
		height:540px !important;
	}
	
}
.height-55-img{
	&>img{
		height:550px !important;
	}
	
}
.height-56-img{
	&>img{
		height:560px !important;
	}
	
}
.height-57-img{
	&>img{
		height:570px !important;
	}
	
}
.height-58-img{
	&>img{
		height:580px !important;
	}
	
}
.height-59-img{
	&>img{
		height:590px !important;
	}
	
}
.height-60-img{
	&>img{
		height:600px !important;
	}
	
}
.height-61-img{
	&>img{
		height:610px !important;
	}
	
}
.height-62-img{
	&>img{
		height:620px !important;
	}
	
}
.height-63-img{
	&>img{
		height:630px !important;
	}
	
}
.height-64-img{
	&>img{
		height:640px !important;
	}
	
}
.height-65-img{
	&>img{
		height:650px !important;
	}
	
}
.height-66-img{
	&>img{
		height:660px !important;
	}
	
}
.height-67-img{
	&>img{
		height:670px !important;
	}
	
}
.height-68-img{
	&>img{
		height:680px !important;
	}
	
}
.height-69-img{
	&>img{
		height:690px !important;
	}
	
}

.height-70-img{
	&>img{
		height:700px !important;
	}
	
}
.height-71-img{
	&>img{
		height:710px !important;
	}
	
}
.height-72-img{
	&>img{
		height:720px !important;
	}
	
}
.height-73-img{
	&>img{
		height:730px !important;
	}
	
}
.height-74-img{
	&>img{
		height:740px !important;
	}
	
}
.height-75-img{
	&>img{
		height:750px !important;
	}
	
}
.height-76-img{
	&>img{
		height:760px !important;
	}
	
}
.height-77-img{
	&>img{
		height:770px !important;
	}
	
}
.height-78-img{
	&>img{
		height:780px !important;
	}
	
}
.height-79-img{
	&>img{
		height:790px !important;
	}
	
}
.height-80-img{
	&>img{
		height:800px !important;
	}
	
}
.height-81-img{
	&>img{
		height:810px !important;
	}
	
}
.height-82-img{
	&>img{
		height:820px !important;
	}
	
}
.height-83-img{
	&>img{
		height:830px !important;
	}
	
}
.height-84-img{
	&>img{
		height:840px !important;
	}
	
}
.height-85-img{
	&>img{
		height:850px !important;
	}
	
}
.height-86-img{
	&>img{
		height:860px !important;
	}
	
}
.height-87-img{
	&>img{
		height:870px !important;
	}
	
}
.height-88-img{
	&>img{
		height:880px !important;
	}
	
}
.height-89-img{
	&>img{
		height:890px !important;
	}
	
}
.height-90-img{
	&>img{
		height:900px !important;
	}
	
}
.height-91-img{
	&>img{
		height:910px !important;
	}
	
}
.height-92-img{
	&>img{
		height:920px !important;
	}
	
}
.height-93-img{
	&>img{
		height:930px !important;
	}
	
}
.height-94-img{
	&>img{
		height:940px !important;
	}
	
}
.height-95-img{
	&>img{
		height:950px !important;
	}
	
}
.height-96-img{
	&>img{
		height:960px !important;
	}
	
}
.height-97-img{
	&>img{
		height:970px !important;
	}
	
}
.height-98-img{
	&>img{
		height:980px !important;
	}
	
}
.height-99-img{
	&>img{
		height:990px !important;
	}
	
}
.height-100-img{
	&>img{
		height:1000px !important;
	}
	
}



.size-1-img{
	&>img{
		width: 10px !important;
		height: 10px !important;
	}
}

.size-2-img{
	&>img{
		width: 20px !important;
		height: 20px !important;
	}
}
.size-3-img{
	&>img{
		width: 30px !important;
		height: 30px !important;
	}
}
.size-4-img{
	&>img{
		width: 40px !important;
		height: 40px !important;
	}
}
.size-5-img{
	&>img{
		width: 50px !important;
		height: 50px !important;
	}
}
.size-6-img{
	&>img{
		width: 60px !important;
		height: 60px !important;
	}
}
.size-7-img{
	&>img{
		width: 70px !important;
		height: 70px !important;
	}
}
.size-8-img{
	&>img{
		width: 80px !important;
		height: 80px !important;
	}
}
.size-9-img{
	&>img{
		width: 90px !important;
		height: 90px !important;
	}
}
.size-10-img{
	&>img{
		width: 100px !important;
		height: 100px !important;
	}
}