.width-1p-div{
	&>div{
		width:1% !important;
	}
}

.width-2p-div{
	&>div{
		width:2% !important;
	}
}
.width-3p-div{
	&>div{
		width:3% !important;
	}
}
.width-4p-div{
	&>div{
		width:4% !important;
	}
}
.width-5p-div{
	&>div{
		width:5% !important;
	}
}
.width-6p-div{
	&>div{
		width:6% !important;
	}
}
.width-7p-div{
	&>div{
		width:7% !important;
	}
}
.width-8p-div{
	&>div{
		width:8% !important;
	}
}
.width-9p-div{
	&>div{
		width:9% !important;
	}
}
.width-10p-div{
	&>div{
		width:10% !important;
	}
}
.width-11p-div{
	&>div{
		width:11% !important;
	}
}
.width-12p-div{
	&>div{
		width:12% !important;
	}
}
.width-13p-div{
	&>div{
		width:13% !important;
	}
}
.width-14p-div{
	&>div{
		width:14% !important;
	}
}
.width-15p-div{
	&>div{
		width:15% !important;
	}
}
.width-16p-div{
	&>div{
		width:16% !important;
	}
}
.width-17p-div{
	&>div{
		width:17% !important;
	}
}
.width-18p-div{
	&>div{
		width:18% !important;
	}
}
.width-19p-div{
	&>div{
		width:19% !important;
	}
}
.width-20p-div{
	&>div{
		width:20% !important;
	}
}
.width-21p-div{
	&>div{
		width:21% !important;
	}
}
.width-22p-div{
	&>div{
		width:22% !important;
	}
}
.width-23p-div{
	&>div{
		width:23% !important;
	}
}
.width-24p-div{
	&>div{
		width:24% !important;
	}
}
.width-25p-div{
	&>div{
		width:25% !important;
	}
}
.width-26p-div{
	&>div{
		width:26% !important;
	}
}
.width-27p-div{
	&>div{
		width:27% !important;
	}
}
.width-28p-div{
	&>div{
		width:28% !important;
	}
}
.width-29p-div{
	&>div{
		width:29% !important;
	}
}
.width-30p-div{
	&>div{
		width:30% !important;
	}
}
.width-31p-div{
	&>div{
		width:31% !important;
	}
}
.width-32p-div{
	&>div{
		width:32% !important;
	}
}
.width-33p-div{
	&>div{
		width:33% !important;
	}
}
.width-34p-div{
	&>div{
		width:34% !important;
	}
}
.width-35p-div{
	&>div{
		width:35% !important;
	}
}
.width-36p-div{
	&>div{
		width:36% !important;
	}
}
.width-37p-div{
	&>div{
		width:37% !important;
	}
}
.width-38p-div{
	&>div{
		width:38% !important;
	}
}
.width-39p-div{
	&>div{
		width:39% !important;
	}
}
.width-40p-div{
	&>div{
		width:40% !important;
	}
}
.width-41p-div{
	&>div{
		width:41% !important;
	}
}
.width-42p-div{
	&>div{
		width:42% !important;
	}
}
.width-43p-div{
	&>div{
		width:43% !important;
	}
}
.width-44p-div{
	&>div{
		width:44% !important;
	}
}
.width-45p-div{
	&>div{
		width:45% !important;
	}
}
.width-46p-div{
	&>div{
		width:46% !important;
	}
}
.width-47p-div{
	&>div{
		width:47% !important;
	}
}
.width-48p-div{
	&>div{
		width:48% !important;
	}
}
.width-49p-div{
	&>div{
		width:49% !important;
	}
}
.width-50p-div{
	&>div{
		width:50% !important;
	}
}
.width-51p-div{
	&>div{
		width:51% !important;
	}
}
.width-52p-div{
	&>div{
		width:52% !important;
	}
}
.width-53p-div{
	&>div{
		width:53% !important;
	}
}
.width-54p-div{
	&>div{
		width:54% !important;
	}
}
.width-55p-div{
	&>div{
		width:55% !important;
	}
}
.width-56p-div{
	&>div{
		width:56% !important;
	}
}
.width-57p-div{
	&>div{
		width:57% !important;
	}
}
.width-58p-div{
	&>div{
		width:58% !important;
	}
}
.width-59p-div{
	&>div{
		width:59% !important;
	}
}
.width-60p-div{
	&>div{
		width:60% !important;
	}
}
.width-61p-div{
	&>div{
		width:61% !important;
	}
}
.width-62p-div{
	&>div{
		width:62% !important;
	}
}
.width-63p-div{
	&>div{
		width:63% !important;
	}
}
.width-64p-div{
	&>div{
		width:64% !important;
	}
}
.width-65p-div{
	&>div{
		width:65% !important;
	}
}
.width-66p-div{
	&>div{
		width:66% !important;
	}
}
.width-67p-div{
	&>div{
		width:67% !important;
	}
}
.width-68p-div{
	&>div{
		width:68% !important;
	}
}
.width-69p-div{
	&>div{
		width:69% !important;
	}
}

.width-70p-div{
	&>div{
		width:70% !important;
	}
}
.width-71p-div{
	&>div{
		width:71% !important;
	}
}
.width-72p-div{
	&>div{
		width:72% !important;
	}
}
.width-73p-div{
	&>div{
		width:73% !important;
	}
}
.width-74p-div{
	&>div{
		width:74% !important;
	}
}
.width-75p-div{
	&>div{
		width:75% !important;
	}
}
.width-76p-div{
	&>div{
		width:76% !important;
	}
}
.width-77p-div{
	&>div{
		width:77% !important;
	}
}
.width-78p-div{
	&>div{
		width:78% !important;
	}
}
.width-79p-div{
	&>div{
		width:79% !important;
	}
}
.width-80p-div{
	&>div{
		width:80% !important;
	}
}
.width-81p-div{
	&>div{
		width:81% !important;
	}
}
.width-82p-div{
	&>div{
		width:82% !important;
	}
}
.width-83p-div{
	&>div{
		width:83% !important;
	}
}
.width-84p-div{
	&>div{
		width:84% !important;
	}
}
.width-85p-div{
	&>div{
		width:85% !important;
	}
}
.width-86p-div{
	&>div{
		width:86% !important;
	}
}
.width-87p-div{
	&>div{
		width:87% !important;
	}
}
.width-88p-div{
	&>div{
		width:88% !important;
	}
}
.width-89p-div{
	&>div{
		width:89% !important;
	}
}

.width-90p-div{
	&>div{
		width:90% !important;
	}
}
.width-91p-div{
	&>div{
		width:91% !important;
	}
}
.width-92p-div{
	&>div{
		width:92% !important;
	}
}
.width-93p-div{
	&>div{
		width:93% !important;
	}
}
.width-94p-div{
	&>div{
		width:94% !important;
	}
}
.width-95p-div{
	&>div{
		width:95% !important;
	}
}
.width-96p-div{
	&>div{
		width:96% !important;
	}
}
.width-97p-div{
	&>div{
		width:97% !important;
	}
}
.width-98p-div{
	&>div{
		width:98% !important;
	}
}
.width-99p-div{
	&>div{
		width:99% !important;
	}
}
.width-100p-div{
	&>div{
		width:100% !important;
	}
}
