.width-1p{
	width:1% !important;
}
.width-2p{
	width:2% !important;
}
.width-3p{
	width:3% !important;
}
.width-4p{
	width:4% !important;
}
.width-5p{
	width:5% !important;
}
.width-6p{
	width:6% !important;
}
.width-7p{
	width:70% !important;
}
.width-8p{
	width:8% !important;
}
.width-9p{
	width:9% !important;
}
.width-10p{
	width:10% !important;
}
.width-11p{
	width:11% !important;
}
.width-12p{
	width:12% !important;
}
.width-13p{
	width:13% !important;
}
.width-14p{
	width:14% !important;
}
.width-15p{
	width:15% !important;
}
.width-16p{
	width:16% !important;
}
.width-17p{
	width:17% !important;
}
.width-18p{
	width:18% !important;
}
.width-19p{
	width:19% !important;
}
.width-20p{
	width:20% !important; 
}
.width-21p{
	width:21% !important;
}
.width-22p{
	width:22% !important;
}
.width-23p{
	width:23% !important;
}
.width-24p{
	width:24% !important;
}
.width-25p{
	width:25% !important;
}
.width-26p{
	width:26% !important;
}
.width-27p{
	width:27% !important;
}
.width-28p{
	width:28% !important;
}
.width-29p{
	width:29% !important;
}
.width-30p{
	width:30% !important;
}
.width-31p{
	width:31% !important;
}
.width-32p{
	width:32% !important;
}
.width-33p{
	width:33% !important;
}
.width-34p{
	width:34% !important;
}
.width-35p{
	width:35% !important;
}
.width-36p{
	width:36% !important;
}
.width-37p{
	width:37% !important;
}

.width-38p{
	width:38% !important;
}
.width-39p{
	width:39% !important;
}
.width-40p{
	width:40% !important;
}
.width-41p{
	width:41% !important;
}
.width-42p{
	width:42% !important;
}
.width-43p{
	width:43% !important;
}
.width-44p{
	width:44% !important;
}
.width-45p{
	width:45% !important;
}
.width-46p{
	width:46% !important;
}
.width-47p{
	width:47% !important;
}
.width-48p{
	width:48% !important;
}
.width-49p{
	width:49% !important;
}

.width-50p{
	width:50% !important;
}
.width-51p{
	width:51% !important;
}
.width-52p{
	width:52% !important;
}
.width-53p{
	width:53% !important;
}
.width-54p{
	width:54% !important;
}
.width-55p{
	width:55% !important;
}
.width-56p{
	width:56% !important;
}
.width-57p{
	width:57% !important;
}
.width-58p{
	width:58% !important;
}
.width-59p{
	width:59% !important; 
}


.width-60p{
	width:60% !important;
}

.width-61p{
	width:61% !important;
}
.width-62p{
	width:62% !important;
}
.width-63p{
	width:63% !important;
}
.width-64p{
	width:64% !important;
}
.width-65p{
	width:65% !important;
}
.width-66p{
	width:66% !important;
}
.width-67p{
	width:67% !important;
}
.width-68p{
	width:68% !important;
}
.width-69p{
	width:69% !important;
}

.width-70p{
	width:70% !important;
}
.width-71p{
	width:71% !important;
}
.width-72p{
	width:72% !important;
}
.width-73p{
	width:73% !important;
}
.width-74p{
	width:74% !important;
}

.width-75p{
	width:75% !important;
}
.width-76p{
	width:76% !important;
}
.width-77p{
	width:77% !important;
}
.width-78p{
	width:78% !important;
}
.width-79p{
	width:79% !important;
}

.width-80p{
	width:80% !important;
}
.width-81p{
	width:81% !important;
}
.width-82p{
	width:82% !important;
}
.width-83p{
	width:83% !important;
}
.width-84p{
	width:84% !important;
}
.width-85p{
	width:85% !important;
}
.width-86p{
	width:86% !important;
}
.width-87p{
	width:87% !important;
}
.width-88p{
	width:88% !important;
}
.width-89p{
	width:89% !important;
}

.width-90p{
	width:90% !important;
}
.width-91p {
	width:91% !important;
}
.width-92p{
	width:92% !important;
}
.width-93p{
	width:93% !important;
}
.width-94p{
	width:94% !important;
}
.width-95p {
	width:95% !important;
}
.width-96p{
	width:96% !important;
}
.width-97p{
	width:97% !important;
}
.width-98p{
	width:98% !important;
}
.width-99p{
	width:99% !important;
}
.width-100p{
	width:100% !important;
}

.width-101p{
	width:101% !important;
}
.width-102p{
	width:102% !important;
}
.width-103p{
	width:103% !important;
}
.width-104p{
	width:104% !important;
}
.width-105p{
	width:5% !important;
}
.width-106p{
	width:106% !important;
}
.width-107p{
	width:107% !important;
}
.width-108p{
	width:108% !important;
}
.width-109p{
	width:109% !important;
}
.width-110p{
	width:110% !important;
}
.width-111p{
	width:111% !important;
}
.width-112p{
	width:112% !important;
}
.width-113p{
	width:113% !important;
}
.width-114p{
	width:114% !important;
}
.width-115p{
	width:115% !important;
}
.width-116p{
	width:116% !important;
}
.width-117p{
	width:117% !important;
}
.width-118p{
	width:118% !important;
}
.width-119p{
	width:119% !important;
}
.width-120p{
	width:120% !important; 
}
.width-121p{
	width:121% !important;
}
.width-122p{
	width:122% !important;
}
.width-123p{
	width:123% !important;
}
.width-124p{
	width:124% !important;
}
.width-125p{
	width:125% !important;
}
.width-126p{
	width:126% !important;
}
.width-127p{
	width:127% !important;
}
.width-128p{
	width:128% !important;
}
.width-129p{
	width:129% !important;
}
.width-130p{
	width:130% !important;
}
.width-131p{
	width:131% !important;
}
.width-132p{
	width:132% !important;
}
.width-133p{
	width:133% !important;
}
.width-134p{
	width:134% !important;
}
.width-135p{
	width:135% !important;
}
.width-136p{
	width:136% !important;
}
.width-137p{
	width:137% !important;
}

.width-138p{
	width:138% !important;
}
.width-139p{
	width:139% !important;
}
.width-140p{
	width:140% !important;
}
.width-141p{
	width:141% !important;
}
.width-142p{
	width:142% !important;
}
.width-143p{
	width:143% !important;
}
.width-144p{
	width:144% !important;
}
.width-145p{
	width:145% !important;
}
.width-146p{
	width:146% !important;
}
.width-147p{
	width:147% !important;
}
.width-148p{
	width:148% !important;
}
.width-149p{
	width:149% !important;
}

.width-150p{
	width:150% !important;
}
.width-151p{
	width:151% !important;
}
.width-152p{
	width:152% !important;
}
.width-153p{
	width:153% !important;
}
.width-154p{
	width:154% !important;
}
.width-155p{
	width:155% !important;
}
.width-156p{
	width:156% !important;
}
.width-157p{
	width:157% !important;
}
.width-158p{
	width:158% !important;
}
.width-159p{
	width:159% !important; 
}


.width-160p{
	width:160% !important;
}

.width-161p{
	width:161% !important;
}
.width-162p{
	width:162% !important;
}
.width-163p{
	width:163% !important;
}
.width-164p{
	width:164% !important;
}
.width-165p{
	width:165% !important;
}
.width-166p{
	width:166% !important;
}
.width-167p{
	width:167% !important;
}
.width-168p{
	width:168% !important;
}
.width-169p{
	width:169% !important;
}

.width-170p{
	width:170% !important;
}
.width-171p{
	width:171% !important;
}
.width-172p{
	width:172% !important;
}
.width-173p{
	width:173% !important;
}
.width-174p{
	width:174% !important;
}

.width-175p{
	width:175% !important;
}
.width-176p{
	width:176% !important;
}
.width-177p{
	width:177% !important;
}
.width-178p{
	width:178% !important;
}
.width-179p{
	width:179% !important;
}

.width-180p{
	width:180% !important;
}
.width-181p{
	width:181% !important;
}
.width-182p{
	width:182% !important;
}
.width-183p{
	width:183% !important;
}
.width-184p{
	width:184% !important;
}
.width-185p{
	width:185% !important;
}
.width-186p{
	width:186% !important;
}
.width-187p{
	width:187% !important;
}
.width-188p{
	width:188% !important;
}
.width-189p{
	width:189% !important;
}

.width-190p{
	width:190% !important;
}
.width-191p {
	width:191% !important;
}
.width-192p{
	width:192% !important;
}
.width-193p{
	width:193% !important;
}
.width-194p{
	width:194% !important;
}
.width-195p {
	width:195% !important;
}
.width-196p{
	width:196% !important;
}
.width-197p{
	width:197% !important;
}
.width-198p{
	width:198% !important;
}
.width-199p{
	width:199% !important;
}
.width-200p{
	width:200% !important;
}
