/*RESOLUCIONES*/	
$width-1:320px;
$width-2:360px;
$width-3:768px;
$width-4:800px;
$width-5:980px;
$width-6:1280px;
$width-7:1920px;
$width-i1:480px;
$width-i2:640px;
$width-i3:1024px;
$width-i4:1280px;
$width-i5:600px;
$width-i6:900px;


/* PALETA FLAT*/
//cianes
$turquoise:#00bd9b;
$green-sea:#00a186;
//amarillos
$sun-flower:#ffc500;
$orange:#ff9d00;
//verdes
$emerald:#00cd6a;
$nephritis:#00b05c;
//narajnas
$carrot:#ff800a;
$pumpkin:#f15300;
//azules
$peter-river:#0099de;
$belize-hole:#0080bb;
//rojos
$alizarin:#ff4b3a;
$pomegrante:#e03626;
//morados
$amethyst:#ae59b9;
$wisteria:#a142b3;
//blancos
$cloud:#ebf0f1;
$silver:#bdc4c8;
//negros
$wet-asphalt:#23485f;
$midnight-blue:#1e3c50;
//grises
$concret:#8fa7a7;
$asbestos:#798d8e;
/*---------------------*/
